/*
 * ------------------------------
 * 버튼
 * ------------------------------
 */

 .btn {
    @include btn;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 1 auto;
    width: auto;
    height: 28px;
    padding: 0 20px;
    background-color: $Main;
    border-radius: rem(3);
    white-space: nowrap;
    transition: background 0.2s ease-in;
    > * + * {
        // 아이콘 같이 있는 경우
        margin-left: rem(6);
    }
    &.hidden {
        @include hide-text;
        padding: 0 !important;
        background-color: transparent;
    }
  
    &-logout {
        @include btn;
        height: 28px;
        margin-left: 6px;
        padding: 0 16px;
        border-radius: 3px;
        line-height: 28px;
        border: 1px solid $Btn-light-border;
    }
    &.has-icon {
        padding: 0;
    }
    &:disabled,
    &:disabled:hover,
    &:disabled:focus,
    &:disabled:active,
    &[readonly='readonly'],
    &[readonly='readonly']:hover,
    &[readonly='readonly']:focus,
    &[readonly='readonly']:active { //disabled 상태
        // box-shadow: ;
        // border:  
        // background-color: ;
        // color: ;
    }
    &:hover,
    &:focus {
        // background-color: 
    }

}
.btn {
    &-border {
        background: $white;
        border: 1px solid $Main;
        color: $Main;
    }
    &.gray-border {
        background-color: $white;
        border: 1px solid $Light-gray;
        color: $Default;
    }
}

/*
 * ------------------------------
 * 버튼 그룹
 * ------------------------------
 */

.btn-box {
    display: flex;
    justify-content: center;
    .btn {
        flex: 0 1 auto;
    }
    .btn + .btn {
        margin-left: rem(6);
    }
}
.btn-period-box {
    .btn {
        @include Tab_default;
        min-width: 57px;
        background-color: #fff;
        border:  1px solid #ddd;
        color: #666;
        border-radius: 0;
        &:first-child {
            border-radius: 3px 0 0 3px;
        }
        &:last-child {
            border-radius: 0 3px 3px 0;
        }
        &.active {
            @include btn;
            background-color: $Accent;
            border-color: $Accent;
        }
        + .btn {
            margin-left: 0;
            border-left: 0;
            &.active {
                margin-left: -1px;
            }
        }
    }
}
