/*
 * ------------------------------
 * checkbox, radiobox
 * ------------------------------
 */
 .form-checkbox,
 .form-radio {
     display: block;
 }
 .form-checkbox input[type="checkbox"],
 .form-radio input[type="radio"] {
     border: 0;
     clip: rect(0 0 0 0);
     height: 0px;
     overflow: hidden;
     padding: 0;
     position: absolute;
     width: 0px;
 }
 .form-checkbox input[type="checkbox"] + label,
 .form-radio input[type="radio"] + label {
     /*체크해제 상태*/
     color: #444;
     display: block;
 }
 .form-checkbox input[type="checkbox"] + label span,
 .form-radio input[type="radio"] + label span {
     position: relative;
     display: inline-block;
     vertical-align: top;
 }
 .form-checkbox input[type="checkbox"] + label::before,
 .form-radio input[type="radio"] + label::before {
     /*체크해제 상태*/
     position: absolute;
     left: 0;
     top: 0;
     content: "";
     display: inline-block;
     background-size: contain;
     background-repeat: no-repeat;
     vertical-align: middle;
 }
 .form-checkbox input[type="checkbox"]:checked + label span {
     display: inline-block;
     // vertical-align: middle;
 }
 .form-checkbox input[type="checkbox"] + label::before { //18px(md)
     background-image: url('./../images/icon/sm-18/btn_checkbox_off@3x.png');
     transition: background 0.3s ease;
 }
 .form-radio input[type="radio"] + label::before { //18px(md)
    //  background-image: url('');
     transition: background 0.3s ease;
 } 
 
 .form-checkbox input[type="checkbox"]:checked + label::before {
     background-image: url('./../images/icon/sm-18/btn_checkbox_checked@3x.png');
 }
 .form-radio input[type="radio"]:checked + label::before {
    //  background-image: url('');
 }
 
 
 .form-checkbox input[type="checkbox"]:disabled + label::before {
    //  background-image: url('');
 }
 .form-radio input[type="radio"]:disabled + label::before {
    //  background-image: url('');
 }
 /*
* ------------------------------
* 
* ------------------------------
*/
.radio-group {
    display: flex;
    .form-radio {
        margin-right: 12px;
        &.radio-md {
            margin-top: 24px;
        }
    }
}
.check-group {
    display: flex;
    .form-checkbox {
        margin-right: 12px;
    }
}
.form-radio {
    position: relative;
    padding-left: 18px + 8px;
    &.no-label {
        width: 18px;
        height: 18px;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    input[type="radio"] + label::before {
        width: 18px;
        height: 18px;
    }
    input[type="radio"] + label  span {
        font-size: 12px;
        line-height: 18px;
    }
}
.form-checkbox {
    position: relative;
    padding-left: 18px + 8px;
    &.no-label {
        width: 18px;
        height: 18px;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    input[type="checkbox"] + label::before {
        width: 18px;
        height: 18px;
    }
    input[type="checkbox"] + label span {
        font-size: 12px;
    }
}