

[class*="ico"] {
    display: inline-flex;
	flex: 0 0 auto;
	vertical-align: middle;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
    padding: 0;
	position: relative; //IE 버튼 흔들림 방지
}
.ico {
    &.filter {
        width: 28px;
        height: 28px;
        margin-right: -10px;
        background-image: url('./../images/icon/btn_filter_default@3x.png');
        background-size: 8px 15px;
    }
    &.lnb-close { 
        width: 18px;
        height: 40px;
        background-image: url('./../images/btn_lnb_close@3x.png');
    }
    &-xs {
        width: 15px;
        height: 15px;
        &.dropdown {
            background-image: url('./../images/icon/xs-15/icon_arrow_down@3x.png');
        }
        &.time {
            background-image: url('./../images/icon/xs-15/icon_time@3x.png');
        }
    }
    &-sm {
        width: 18px;
        height: 18px;
        &.bookmark {
            background-image: url('./../images/icon/sm-18/icon_bookmark_default@3x.png');
        }
        &.search {
            background-image: url('./../images/icon/sm-18/icon_search@3x.png');
        }
    }
    &-md {
        width: 20px; 
        height: 20px;
        &.profile {
            background-image: url('./../images/icon/md-20/icon_profile@3x.png');
        }
    }
    &-lg {
        width: 26px; 
        height: 26px;
        &.tip {
            background-image: url('./../images/icon/lg-26/icon_tip_default@3x.png');
        }
    }
}