

.table-set {
    margin-top: 12px;
}
.table-content {
    border-top: 1px solid $Default;
    table {
		table-layout: fixed;
	}
    th, td {
        height: 36px;
        padding: 0 10px;
    }
    thead th, thead td {
        @include Table_title;
        border:  1px solid #ddd;
        text-align: left;
    }
    tbody th, tbody td { 
        @include Table_body;
        background: #fff;
        border:  1px solid #ddd;
    }
    tr th:first-child, tr td:first-child {
        border-left: 0;
    }
    tr th:last-child, tr td:last-child {
        border-right: 0;
    }
	tfoot {
		td {
			background: #fafafa;
			color: #002222;
			font-size: rem(13);
			font-weight: bold;
		}
	}
}
table {
	width: 100%;
	border-collapse: collapse;
}
thead th {
	text-align: center;
}
.text-center th,
.text-center td {
	text-align: center !important;
	&.text-right {
		text-align: right !important;
	}
	&.text-left {
		text-align: left !important;
	}
}
td .form-box, th .form-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*
* ------------------------------
* table control
* ------------------------------
*/
.table-control {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 28px;
    margin: 12px 0 8px;
}
.amount-set {
    @include Num;
    color: $Dot-bg;
    font-weight: 400;
    line-height: 1;
    .amount {
        &.current {
            color: $Main;
            font-weight: bold;
        }
    }
    .dash {
        margin: 0 2px;
    }
    .unit {
        margin-left: 2px;
    }
}


.table-bottom {
    padding: 15px 20px;
    background: $white;
    border-top: 1px solid $inputDefault;
    border-bottom: 1px solid $inputDefault;
    box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.1);
}