<aside class="web-sidebar">
    <!-- 상단 고정영역 -->
    <div class="sidebar-head">
        <a class="main-menu" aria-label=""><i class="ico-sm bookmark">북마크</i><span>즐겨 찾는 메뉴</span></a>
        <ul class="sub-menu">
            <a href="#;">입금 관리</a>
            <a href="#;">계약 관리</a>
            <a href="#;">정산 조회</a>
        </ul>
    </div>
    <!-- 컨텐츠  -->
    <div class="sidebar-body">
        <!-- 메뉴 -->
        <ul class="sidebar-menu">
            <!-- [D] 서브메뉴가 있을 때 .has-submenu 추가 -->
            <li class="has-submenu">
                <a class="sidebar-1depth" aria-label=""><i class="ico-sm bookmark">북마크</i><span>기준정보</span></a>
                <div class="sidebar-2depth">
                    <a href="#;">하위</a>
                    <a href="#;">하위</a>
                </div>
            </li>
            <li class="has-submenu">
                <a class="sidebar-1depth" aria-label=""><i class="ico-sm bookmark">북마크</i><span>계약</span></a>
                <div class="sidebar-2depth">
                    <a href="#;">하위</a>
                    <a href="#;">하위</a>
                </div>
            </li>
            <li class="has-submenu">
                <a class="sidebar-1depth" aria-label=""><i class="ico-sm bookmark">북마크</i><span>정산</span></a>
                <div class="sidebar-2depth">
                    <a href="#;">하위</a>
                    <a href="#;">하위</a>
                </div>
            </li>
            <li class="has-submenu">
                <a class="sidebar-1depth" aria-label=""><i class="ico-sm bookmark">북마크</i><span>과금</span></a>
                <div class="sidebar-2depth">
                    <a href="#;">하위</a>
                    <a href="#;">하위</a>
                </div>
            </li>
            <li class="has-submenu">
                <a class="sidebar-1depth" aria-label=""><i class="ico-sm bookmark">북마크</i><span>배분</span></a>
                <div class="sidebar-2depth">
                    <a href="#;">하위</a>
                    <a href="#;">하위</a>
                </div>
            </li>
            <li class="has-submenu">
                <a class="sidebar-1depth" aria-label=""><i class="ico-sm bookmark">북마크</i><span>회계</span></a>
                <div class="sidebar-2depth">
                    <a href="#;">하위</a>
                    <a href="#;">하위</a>
                </div>
            </li>
            <li class="has-submenu">
                <a class="sidebar-1depth active" aria-label=""><i class="ico-sm bookmark">북마크</i><span>서비스 품질</span></a>
                <!-- [D] 개발시 인라인 스타일 삭제 : 보여주기 위한 스타일임 -->
                <div class="sidebar-2depth" style="display: block; overflow: visible">
                    <a href="#;">상담정보관리</a>
                    <a href="#;">요청사항관리</a>
                    <a href="#;">민원조치</a>
                    <a href="#;">공지사항</a>
                    <a href="#;">SMS관리</a>
                    <a href="#;">이메일관리</a>
                    <a href="#;">서류양식관리</a>
                    <a href="#;">정기자료관리</a>
                    <a href="#;">사후점검제출확인</a>
                    <a href="#;">동의자료확인</a>
                </div>
            </li>
            <li class="has-submenu">
                <a class="sidebar-1depth" aria-label=""><i class="ico-sm bookmark">북마크</i><span>권한 관리</span></a>
                <div class="sidebar-2depth">
                    <a href="#;">하위</a>
                    <a href="#;">하위</a>
                </div>
            </li>
            
        </ul>
    </div>

    <!-- 하단 고정영역 -->
    <div class="sidebar-foot">
        <div class="btn-box">
            <button type="button" class="btn"><i class="ico-sm mail">메일</i><span>나의 업무 보관함</span></button>
            <button type="button" class="ico lnb-close">버튼</button>
        </div>
    </div>        
</aside>