@charset "UTF-8";
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Noto Sans Kr";
  font-style: normal;
  font-weight: normal;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans Kr";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans Kr";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans Kr";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  unicode-range: U+0030-0039;
}
@font-face {
  font-family: "Noto Sans Kr";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  unicode-range: U+0030-0039;
}
/*
* Regular font size
*/
/*
* Text style
*/
/*
* ------------------------------
* font size
* ------------------------------
*/
/* px 단위를 rem 으로 교체한다.
* @access public
* @param {String} $pixels - 픽셀 고정값
* @return {String}
*/
/*
* Example of usage:
* .wrap {
*  ...
*   @include@ clearfix;
* }
*/
/*
  * 한 번에 여러 properties 앞에 prefix를 붙이는 Mixin
  * @param {Map} $declarations - prefix 선언
  * @param {List} $prefixes (()) - 출력될 prefix들 목록
  * Example of usage:
  * .selector {
  *   @include prefix((
  *     column-count: 3,
  *     column-gap: 1.5em,
  *     column-rule: 2px solid hotpink
  *   ), webkit moz);
  *  }
  */
/*
  * $ max-height - max-height 속성 값. 필수
  * non-webkit 브라우저에서 텍스트를 제한하는 매개 변수.
  * 속성 재정의에 주의하십시오.
  * 모든 속성 뒤에이 mixin을 포함하는 것이 강력히 권장됩니다.
  * 표시 속성의 재정의를 방지하려면 :
  * .element {
  *   display: block;
  *   ...
  *   @include ellipsis(2rem, 2);
  * }
  * Example of usage:
  * @include ellipsis(2em, 2);
  */
/*
  * Example of useage:
  * @include background-opacity(#000, 0.3);
  */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

div,
p,
span,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button,
input,
textarea {
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
}

.ml-4 {
  margin-left: 4px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

/* Icon */
.icon {
  display: inline-flex;
  flex: 0 0 auto;
  vertical-align: middle;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

/*
* ------------------------------
* Title
* ------------------------------
*/
.main-title {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -1.1px;
  color: #222;
  font-weight: bold;
}

.sub-title {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.85px;
  color: #222;
  font-weight: 500;
}
.sub-title.dot {
  position: relative;
  padding-left: 8px;
}
.sub-title.dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-top: -2px;
  background: #222;
}

/*
* ------------------------------
* Title Group
* ------------------------------
*/
.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-box .left-group,
.title-box .right-group {
  display: flex;
  align-items: center;
}
.title-box.lg {
  height: 32px;
  margin: 20px 0;
}
.title-box.md {
  min-height: 28px;
  margin: 12px 0 4px;
}
.title-box.sm {
  min-height: 28px;
  margin: 12px 0 8px;
}

ul, li, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*
* ------------------------------
*  숫자 카운트
* ------------------------------
*/
.amount-set {
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
.amount-set .amount.current {
  color: #0e4194;
  font-weight: bold;
}
.amount-set .dash {
  margin: 0 1px;
}
.amount-set .unit {
  margin-left: 1px;
}

/*
* ------------------------------
* BreadCrumb
* ------------------------------
*/
.breadcrumb {
  position: relative;
  display: flex;
  align-items: center;
}
.breadcrumb::before {
  display: none;
}
.breadcrumb .breadcrumb-item {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  display: flex;
  align-items: center;
  color: #999;
}
.breadcrumb .breadcrumb-item.active {
  color: #444;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  color: #999;
  font-family: "roboto";
}

/* Flexbox Class */
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.inline-flexbox {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.flex-row {
  -webkit-flex-direction: row !important;
  -moz-flex-direction: row !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-column {
  -webkit-flex-direction: column !important;
  -moz-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flex-row-reverse {
  -webkit-flex-direction: row-reverse !important;
  -moz-flex-direction: row-reverse !important;
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  -webkit-flex-direction: column-reverse !important;
  -moz-flex-direction: column-reverse !important;
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

.flex-wrap {
  -webkit-flex-wrap: wrap !important;
  -moz-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-nowrap {
  -webkit-flex-wrap: nowrap !important;
  -moz-flex-wrap: nowrap !important;
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse !important;
  -moz-flex-wrap: wrap-reverse !important;
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}

.flex-1 {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
}

.flex-half {
  -webkit-box-flex: 0 0 50% !important;
  -moz-box-flex: 0 0 50% !important;
  -webkit-flex: 0 0 50% !important;
  -ms-flex: 0 0 50% !important;
  flex: 0 0 50% !important;
}

.flex-fill {
  -webkit-box-flex: 1 1 auto !important;
  -moz-box-flex: 1 1 auto !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

.flex-grow-0 {
  -webkit-flex-grow: 0 !important;
  -moz-flex-grow: 0 !important;
  -ms-flex-grow: 0 !important;
  flex-grow: 0 !important;
}

.flex-grow-1 {
  -webkit-flex-grow: 1 !important;
  -moz-flex-grow: 1 !important;
  -ms-flex-grow: 1 !important;
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  -webkit-flex-shrink: 0 !important;
  -moz-flex-shrink: 0 !important;
  -ms-flex-shrink: 0 !important;
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  -webkit-flex-shrink: 1 !important;
  -moz-flex-shrink: 1 !important;
  -ms-flex-shrink: 1 !important;
  flex-shrink: 1 !important;
}

.flex-basis-0 {
  -webkit-flex-basis: 0 !important;
  -moz-flex-basis: 0 !important;
  -ms-flex-basis: 0 !important;
  flex-basis: 0 !important;
}

.flex-basis-auto {
  -webkit-flex-basis: auto !important;
  -moz-flex-basis: auto !important;
  -ms-flex-basis: auto !important;
  flex-basis: auto !important;
}

.justify-content-start {
  -webkit-justify-content: flex-start !important;
  -moz-justify-content: flex-start !important;
  -ms-justify-content: flex-start !important;
  justify-content: flex-start !important;
  -ms-flex-pack: flex-start !important;
}

.justify-content-end {
  -webkit-justify-content: flex-end !important;
  -moz-justify-content: flex-end !important;
  -ms-justify-content: flex-end !important;
  justify-content: flex-end !important;
  -ms-flex-pack: flex-end !important;
}

.justify-content-center {
  -webkit-justify-content: center !important;
  -moz-justify-content: center !important;
  -ms-justify-content: center !important;
  justify-content: center !important;
  -ms-flex-pack: center !important;
}

.justify-content-between {
  -webkit-justify-content: space-between !important;
  -moz-justify-content: space-between !important;
  -ms-justify-content: space-between !important;
  justify-content: space-between !important;
  -ms-flex-pack: space-between !important;
}

.justify-content-around {
  -webkit-justify-content: space-around !important;
  -moz-justify-content: space-around !important;
  -ms-justify-content: space-around !important;
  justify-content: space-around !important;
  -ms-flex-pack: space-around !important;
}

.align-items-start {
  -webkit-align-items: flex-start !important;
  -moz-align-items: flex-start !important;
  -ms-align-items: flex-start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -webkit-align-items: flex-end !important;
  -moz-align-items: flex-end !important;
  -ms-align-items: flex-end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -webkit-align-items: center !important;
  -moz-align-items: center !important;
  -ms-align-items: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -webkit-align-items: baseline !important;
  -moz-align-items: baseline !important;
  -ms-align-items: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -webkit-align-items: stretch !important;
  -moz-align-items: stretch !important;
  -ms-align-items: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -webkit-align-content: flex-start !important;
  -moz-align-content: flex-start !important;
  -ms-align-content: flex-start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -webkit-align-content: flex-end !important;
  -moz-align-content: flex-end !important;
  -ms-align-content: flex-end !important;
  align-content: flex-end !important;
}

.align-content-center {
  -webkit-align-content: center !important;
  -moz-align-content: center !important;
  -ms-align-content: center !important;
  align-content: center !important;
}

.align-content-between {
  -webkit-align-content: space-between !important;
  -moz-align-content: space-between !important;
  -ms-align-content: space-between !important;
  align-content: space-between !important;
}

.align-content-around {
  -webkit-align-content: space-around !important;
  -moz-align-content: space-around !important;
  -ms-align-content: space-around !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -webkit-align-content: stretch !important;
  -moz-align-content: stretch !important;
  -ms-align-content: stretch !important;
  align-content: stretch !important;
}

.align-self-auto {
  -webkit-align-self: auto !important;
  -moz-align-self: auto !important;
  -ms-align-self: auto !important;
  align-self: auto !important;
}

.align-self-start {
  -webkit-align-self: flex-start !important;
  -moz-align-self: flex-start !important;
  -ms-align-self: flex-start !important;
  align-self: flex-start !important;
}

.align-self-end {
  -webkit-align-self: flex-end !important;
  -moz-align-self: flex-end !important;
  -ms-align-self: flex-end !important;
  align-self: flex-end !important;
}

.align-self-center {
  -webkit-align-self: center !important;
  -moz-align-self: center !important;
  -ms-align-self: center !important;
  align-self: center !important;
}

.align-self-baseline {
  -webkit-align-self: baseline !important;
  -moz-align-self: baseline !important;
  -ms-align-self: baseline !important;
  align-self: baseline !important;
}

.align-self-stretch {
  -webkit-align-self: stretch !important;
  -moz-align-self: stretch !important;
  -ms-align-self: stretch !important;
  align-self: stretch !important;
}

.order-first {
  -webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -webkit-box-ordinal-group: 13;
  -moz-box-ordinal-group: 13;
  -ms-flex-order: 13;
  order: 13;
}

.order-0 {
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  order: 0;
}

.order-1 {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  order: 3;
}

.order-4 {
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 4;
  order: 4;
}

.order-5 {
  -webkit-box-ordinal-group: 5;
  -moz-box-ordinal-group: 5;
  -ms-flex-order: 5;
  order: 5;
}

.order-6 {
  -webkit-box-ordinal-group: 6;
  -moz-box-ordinal-group: 6;
  -ms-flex-order: 6;
  order: 6;
}

.order-7 {
  -webkit-box-ordinal-group: 7;
  -moz-box-ordinal-group: 7;
  -ms-flex-order: 7;
  order: 7;
}

.order-8 {
  -webkit-box-ordinal-group: 8;
  -moz-box-ordinal-group: 8;
  -ms-flex-order: 8;
  order: 8;
}

.order-9 {
  -webkit-box-ordinal-group: 9;
  -moz-box-ordinal-group: 9;
  -ms-flex-order: 9;
  order: 9;
}

.order-10 {
  -webkit-box-ordinal-group: 10;
  -moz-box-ordinal-group: 10;
  -ms-flex-order: 10;
  order: 10;
}

.order-11 {
  -webkit-box-ordinal-group: 11;
  -moz-box-ordinal-group: 11;
  -ms-flex-order: 11;
  order: 11;
}

.order-12 {
  -webkit-box-ordinal-group: 12;
  -moz-box-ordinal-group: 12;
  -ms-flex-order: 12;
  order: 12;
}

.table-set {
  margin-top: 12px;
}

.table-content th, .table-content td {
  height: 36px;
  padding: 0 10px;
}
.table-content thead th, .table-content thead td {
  background: #eee;
  text-align: left;
  color: #555;
}
.table-content tbody th, .table-content tbody td {
  background: #fff;
  color: #222;
}
.table-content tr th:first-child, .table-content tr td:first-child {
  border-left: 0;
}
.table-content tr th:last-child, .table-content tr td:last-child {
  border-right: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: center;
}

tr td {
  transition: background 0.3s ease;
}

tr:hover td {
  background-color: #eff2f7;
}

.text-center th,
.text-center td {
  text-align: center !important;
}
.text-center th.text-right,
.text-center td.text-right {
  text-align: right !important;
}
.text-center th.text-left,
.text-center td.text-left {
  text-align: left !important;
}

td .form-box, th .form-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
* ------------------------------
* 
* ------------------------------
*/
.table-bottom {
  padding: 15px 20px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.1);
}

/*
 * ------------------------------
 * 폼
 * ------------------------------
 */
.form-group {
  display: flex;
  align-items: center;
}
.form-group > * + * {
  margin-left: 6px;
}
.form-group.row {
  flex-direction: column;
  flex-wrap: wrap;
}
.form-group.row > * + * {
  margin-left: 0;
  margin-top: 6px;
}
.form-group.row .form-set {
  width: 100%;
}

.form-set {
  display: flex;
  align-items: center;
}
.form-set > *:not(.bar) + *:not(.bar) {
  margin-left: 8px;
}
.form-set .bar {
  margin: 0 2px;
}
.form-set .h-btn {
  flex: 0 0 auto;
}
.form-set .h-checkbox input[type=radio] + label,
.form-set .h-checkbox input[type=checkbox] + label {
  white-space: nowrap;
}

.label {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  margin-right: 12px;
  height: 28px;
  color: #777;
  white-space: nowrap;
  font-weight: 500;
}

.search-control {
  display: flex;
  align-items: center;
  position: relative;
  padding: 24px 20px;
  background: #fff;
  border: 1px solid #eee;
  overflow: hidden;
}
.search-control .form-group {
  white-space: nowrap;
}
.search-control .form-group > * + * {
  margin-left: 0;
}
.search-control .form-set {
  float: left;
  padding-right: 20px;
}
.search-control .btn.search {
  margin-left: 10px;
  background: #fff;
  border: 1px solid #0e4194;
  color: #0e4194;
}
.search-control .label {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  margin-right: 12px;
  height: 28px;
  color: #777;
  white-space: nowrap;
  font-weight: 500;
}
.search-control .h-checkbox input[type=radio] + label {
  display: flex;
  align-items: center;
  height: 28px;
}
.search-control .h-checkbox input[type=radio] + label:before {
  top: 50%;
  margin-top: -0.5625rem;
}

/*
* ------------------------------
* input - common
* ------------------------------
*/
.h-input {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: 28px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #555;
  transition: 0.3s ease-in-out;
}
.h-input:focus {
  border: 1px solid #222;
  color: #222;
}
.h-input:disabled, .h-input:disabled:focus {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #aaa;
}
.h-input::placeholder {
  font-size: 14px;
  letter-spacing: -0.75px;
  color: #aaa;
}

.h-input.sm {
  max-width: 110px;
  min-width: 110px;
}
.h-input.lg {
  max-width: 230px;
  min-width: 230px;
}

/*
* ------------------------------
* input - common
* ------------------------------
*/
.input-box {
  position: relative;
}
.input-box.sm .h-input {
  max-width: 110px;
  min-width: 110px;
}
.input-box.lg .h-input {
  max-width: 230px;
  min-width: 230px;
}

.input-box.search::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("/resources/images/icon/icon_search.svg");
  background-size: 18px 18px;
}
.input-box.search .h-input {
  padding-left: 32px;
}
.input-box.error .h-input {
  border: 1px solid #f14747;
}
.input-box.error .note {
  font-size: 12px;
  line-height: 26px;
  letter-spacing: -0.6px;
  color: #f14747;
}

/*
* ------------------------------
* checkbox, radiobox
* ------------------------------
*/
.h-checkbox {
  display: block;
}

.h-checkbox input[type=checkbox],
.h-checkbox input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0px;
}

.h-checkbox input[type=checkbox] + label,
.h-checkbox input[type=radio] + label {
  /*체크해제 상태*/
  color: #555;
  display: block;
}

.h-checkbox input[type=checkbox] + label span,
.h-checkbox input[type=radio] + label span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.h-checkbox input[type=checkbox] + label::before,
.h-checkbox input[type=radio] + label::before {
  /*체크해제 상태*/
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  content: "";
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.h-checkbox input[type=checkbox]:checked + label span {
  display: inline-block;
}

.h-checkbox input[type=checkbox] + label::before {
  background-image: url("./../images/icon/btn_checkbox_off.svg");
  transition: background 0.3s ease;
}

.h-checkbox input[type=radio] + label::before {
  background-image: url("./../images/icon/btn_radio_default.svg");
  transition: background 0.3s ease;
}

.h-checkbox input[type=checkbox]:checked + label::before {
  background-image: url("./../images/icon/btn_checkbox_checked.svg");
}

.h-checkbox input[type=radio]:checked + label::before {
  background-image: url("./../images/icon/btn_radio_checked.svg");
}

/*
* ------------------------------
* 
* ------------------------------
*/
.check-group {
  display: flex;
}
.check-group .h-checkbox {
  margin-right: 12px;
}

.h-checkbox {
  position: relative;
  padding-left: 28px;
}
.h-checkbox.no-label {
  width: 20px;
  height: 20px;
  padding-left: 0;
}
.h-checkbox input[type=radio] + label::before,
.h-checkbox input[type=checkbox] + label::before {
  width: 20px;
  height: 20px;
}
.h-checkbox input[type=radio] + label span,
.h-checkbox input[type=checkbox] + label span {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
}

/*
 * ------------------------------
 * 버튼
 * ------------------------------
 */
.h-btn, .k-button {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 1 auto;
  height: 28px;
  padding: 0 20px;
  border-radius: 3px;
  white-space: nowrap;
  transition: background 0.2s ease-in;
  background-color: #0e4194;
  color: #fff;
}
.h-btn:hover, .h-btn:focus, .k-button:hover, .k-button:focus {
  background-color: #002a70;
}
.h-btn.text, .k-button.text {
  background: transparent;
  height: auto;
  padding: 0;
  text-decoration: underline;
}
.h-btn .k-icon, .k-button .k-icon {
  width: 16px;
  height: 16px;
}
.h-btn > * + *, .k-button > * + * {
  margin-left: 0.375rem;
}
.h-btn.hidden, .k-button.hidden {
  overflow: hidden;
  text-indent: -9000px;
  white-space: nowrap;
  padding: 0 !important;
  background-color: transparent;
}
.h-btn.k-button-icontext, .k-button.k-button-icontext {
  padding: 0 12px;
}
.h-btn.k-button-icontext > * + *, .k-button.k-button-icontext > * + * {
  margin-left: 4px;
}
.h-btn:disabled, .h-btn:disabled:hover, .h-btn:disabled:focus, .h-btn:disabled:active, .k-button:disabled, .k-button:disabled:hover, .k-button:disabled:focus, .k-button:disabled:active {
  cursor: default;
  background: #f5f5f5 !important;
  border: 1px solid #ccc !important;
  color: #aaa !important;
  opacity: 0.7;
}
.h-btn.blue, .k-button.blue {
  background-color: #0e4194;
  border: 1px soild #0e4194;
  color: #fff;
}
.h-btn.blue:hover, .h-btn.blue:focus, .k-button.blue:hover, .k-button.blue:focus {
  background-color: #002a70;
}
.h-btn.blue.k-state-focused, .k-button.blue.k-state-focused {
  background-color: #002a70;
}
.h-btn.light-blue, .k-button.light-blue {
  background-color: #cfdef5;
  color: #0e4194;
}
.h-btn.light-blue:hover, .h-btn.light-blue:focus, .k-button.light-blue:hover, .k-button.light-blue:focus {
  background-color: #99b6e2;
}
.h-btn.light-blue.k-state-focused, .k-button.light-blue.k-state-focused {
  background-color: #99b6e2;
}
.h-btn.light-blue-border, .k-button.light-blue-border {
  background-color: #eff2f7;
  border: 1px solid #ccc;
}
.h-btn.blue-border, .k-button.blue-border {
  background: #fff;
  border: 1px solid #0e4194;
  color: #0e4194;
}
.h-btn.blue-border:hover, .h-btn.blue-border:focus, .k-button.blue-border:hover, .k-button.blue-border:focus {
  background-color: #e4e9ef;
}
.h-btn.blue-border.k-state-focused, .k-button.blue-border.k-state-focused {
  background-color: #e4e9ef;
}
.h-btn.gray-border, .k-button.gray-border {
  background-color: #fff;
  border: 1px solid #999;
  color: #222;
}
.h-btn.gray-border:hover, .h-btn.gray-border:focus, .k-button.gray-border:hover, .k-button.gray-border:focus {
  background-color: #eee;
  border: 1px solid #aaa;
}
.h-btn.gray-border.k-state-focused, .k-button.gray-border.k-state-focused {
  background-color: #eee;
  border: 1px solid #aaa;
}
.h-btn.green, .k-button.green {
  background-color: #1e6c42;
  color: #fff;
}
.h-btn.green:hover, .h-btn.green:focus, .k-button.green:hover, .k-button.green:focus {
  background-color: #0d5a30;
  border: 1px solid #1e6c42;
}
.h-btn.green.k-state-focused, .k-button.green.k-state-focused {
  background-color: #0d5a30;
}
.h-btn.logout, .k-button.logout {
  margin-left: 6px;
  border: 1px solid #e0e5ec;
}
.h-btn.logout.k-state-focused, .k-button.logout.k-state-focused {
  border: 1px solid #e0e5ec;
}

/*
 * ------------------------------
 * 버튼 그룹
 * ------------------------------
 */
.btn-box {
  display: flex;
  justify-content: center;
}
.btn-box .k-button {
  flex: 0 1 auto;
}
.btn-box .k-button + .k-button {
  margin-left: 6px;
}
.btn-box.period .k-button {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  min-width: 57px;
  background-color: #fff;
  border: 1px solid #aaa;
  color: #777;
  border-radius: 0;
}
.btn-box.period .k-button:first-child {
  border-radius: 3px 0 0 3px;
}
.btn-box.period .k-button:last-child {
  border-radius: 0 3px 3px 0;
}
.btn-box.period .k-button.k-state-active, .btn-box.period .k-button.k-state-focused {
  background-color: #48c3e6;
  border-color: #48c3e6;
  color: #fff;
}
.btn-box.period .k-button + .k-button {
  margin-left: 0;
  border-left: 0;
}
.btn-box.period .k-button + .k-button.k-state-active {
  margin-left: -1px;
  padding-left: 21px;
}

.k-button-group {
  display: flex;
  justify-content: center;
}
.k-button-group .k-button {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  flex: 0 1 auto;
  min-width: 57px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-right: 0;
  color: #777;
  border-radius: 0;
}
.k-button-group .k-button.k-state-active, .k-button-group .k-button.k-state-focused {
  background-color: #48c3e6;
  border: 1px solid #48c3e6;
  border-right: 0;
  color: #fff;
}
.k-button-group .k-button.k-state-active + .k-button, .k-button-group .k-button.k-state-focused + .k-button {
  border-left: 1px solid #48c3e6;
}
.k-button-group .k-button:first-child {
  border-radius: 3px 0 0 3px;
}
.k-button-group .k-button:last-child {
  border-radius: 0 3px 3px 0;
  border-right: 1px solid #aaa;
}
.k-button-group .k-button:last-child.k-state-active, .k-button-group .k-button:last-child.k-state-focused {
  border-right: 1px solid #48c3e6;
}
.k-button-group .k-button + .k-button.k-state-active {
  margin-left: 0px;
  padding-left: 20px;
}

.h-ico {
  display: inline-flex;
  flex: 0 0 auto;
  vertical-align: middle;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  padding: 0;
  position: relative;
  transition: background 0.3s ease;
}

.h-ico.xs {
  width: 15px;
  height: 15px;
}
.h-ico.xsm {
  width: 16px;
  height: 16px;
}
.h-ico.sm {
  width: 18px;
  height: 18px;
}
.h-ico.md {
  width: 20px;
  height: 20px;
}
.h-ico.lg {
  width: 26px;
  height: 26px;
}
.h-ico.filter {
  width: 28px;
  height: 28px;
  background-image: url("../images/icon/btn_filter_default.svg");
  background-size: 8px 15px;
  margin-right: -10px;
}
.h-ico.up {
  width: 15px;
  height: 15px;
  background-image: url("../images/icon/icon_arrow_up.svg");
  background-size: contain;
}
.h-ico.down {
  width: 15px;
  height: 15px;
  background-image: url("../images/icon/icon_arrow_down.svg");
  background-size: contain;
}
.h-ico.time {
  width: 15px;
  height: 15px;
  background-image: url("../images/icon/icon_time.svg");
  background-size: contain;
}
.h-ico.mail {
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/icon_mystorage.svg");
  background-size: contain;
}
.h-ico.rotate-left {
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/icon_rotate_left.svg");
  background-size: contain;
}
.h-ico.rotate-right {
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/icon_rotate_right.svg");
  background-size: contain;
}
.h-ico.lnb-close {
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/icon_lnb_close.svg");
  background-size: contain;
}
.h-ico.bookmark {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon/btn_bookmark_default.svg");
  background-size: contain;
}
.h-ico.bookmark.active {
  background-image: url("./../images/icon/btn_bookmark_active.svg");
}
.h-ico.search {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon/icon_search.svg");
  background-size: contain;
}
.h-ico.search:disabled {
  background-image: url("./../images/icon/icon_search_disabled.svg");
}
.h-ico.blue {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon/icon_search_btn.svg");
  background-size: contain;
}
.h-ico.menu1 {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon/icon_profile.svg");
  background-size: contain;
}
.h-ico.menu2 {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon/icon_4.svg");
  background-size: contain;
}
.h-ico.menu3 {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon/icon_1.svg");
  background-size: contain;
}
.h-ico.menu4 {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon/icon_3.svg");
  background-size: contain;
}
.h-ico.menu5 {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon/icon_profile.svg");
  background-size: contain;
}
.h-ico.menu6 {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon/icon_4.svg");
  background-size: contain;
}
.h-ico.menu7 {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon/icon_3.svg");
  background-size: contain;
}
.h-ico.menu8 {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon/icon_2.svg");
  background-size: contain;
}
.h-ico.profile {
  width: 20px;
  height: 20px;
  background-image: url("../images/icon/icon_profile.svg");
  background-size: contain;
}
.h-ico.profile-blue {
  font-size: 0;
  width: 20px;
  height: 20px;
  display: inline-flex;
  background-image: url("../images/icon/icon_profile_blue@3x.png");
  background-size: contain;
}
.h-ico.tip {
  width: 26px;
  height: 26px;
  background-image: url("../images/icon/btn_tip_default.svg");
  background-size: contain;
}
.h-ico.tip:hover {
  background-image: url("./../images/icon/btn_tip_hover.svg");
}

.k-checkbox-label,
.k-radio-label {
  position: initial;
  padding: 0;
}

.k-checkbox-label:before {
  border: none;
}

/*
* ------------------------------
* dropdown
* ------------------------------
*/
.k-dropdown {
  white-space: nowrap;
  display: inline-flex;
  width: 110px !important;
}
.k-dropdown .k-dropdown-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 28px;
  padding: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #555;
  box-sizing: border-box;
}
.k-dropdown .k-dropdown-wrap.k-state-disabled, .k-dropdown .k-dropdown-wrap.k-state-disabled:hover {
  background-color: #f5f5f5;
  color: #aaa;
}
.k-dropdown .k-dropdown-wrap.k-state-disabled .k-i-arrow-60-down:before, .k-dropdown .k-dropdown-wrap.k-state-disabled:hover .k-i-arrow-60-down:before {
  background-image: url("/resources/images/icon/icon_arrow_down_diabled.svg");
}
.k-dropdown .k-dropdown-wrap.k-state-hover, .k-dropdown .k-dropdown-wrap:hover {
  background-color: #fff;
}
.k-dropdown .k-dropdown-wrap.k-state-focused {
  border: 1px solid #222;
  color: #222;
}
.k-dropdown .k-dropdown-wrap .k-input {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  text-indent: 10px;
}
.k-dropdown .k-dropdown-wrap .k-select {
  vertical-align: middle;
  text-align: center;
  width: 28px;
  height: 100%;
}
.k-dropdown .k-dropdown-wrap .k-select .k-icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.k-dropdown .k-dropdown-wrap .k-i-arrow-60-down:before {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: url("/resources/images/icon/icon_arrow_down.svg") no-repeat center/15px 15px;
  transition: all 0.3s ease;
}
.k-dropdown .k-dropdown-wrap.k-state-active .k-i-arrow-60-down:before {
  transform: rotate(180deg);
}

.k-animation-container {
  width: 150px !important;
  margin: 3px 0;
}

.k-popup.k-list-container {
  width: 100% !important;
  padding: 8px 5px;
  border: none;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 3px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.15);
}
.k-popup.k-list-container .k-list .k-item {
  min-height: 28px;
  height: 28px;
  padding: 0 5px;
  border-radius: 0;
  line-height: 1;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.7px;
  color: #777;
  font-weight: 400;
  box-sizing: border-box;
}
.k-popup.k-list-container .k-list .k-item.k-state-hover, .k-popup.k-list-container .k-list .k-item.k-state-hover:hover {
  background-color: #f5f5f5;
  color: #222;
}

/*
* ------------------------------
* 인풋 (date range)
* ------------------------------
*/
.k-dateinput {
  display: flex;
  width: 110px;
}
.k-dateinput.k-state-disabled .k-textbox {
  background-color: #f5f5f5;
  color: #aaa;
}
.k-dateinput .k-textbox {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  display: flex;
  height: 28px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #555;
  box-sizing: border-box;
  overflow: hidden;
}
.k-dateinput .k-textbox:focus {
  border: 1px solid #222;
  color: #222;
}

/*
* ------------------------------
* Grid
* ------------------------------
*/
.k-grid {
  border: none;
  border-top: 1px solid #222;
  border-bottom: 1px solid #aaa;
}

.k-grid .k-grouping-header,
.k-grid-header {
  background: #eee;
}
.k-grid .k-grouping-header th.k-header,
.k-grid-header th.k-header {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  position: relative;
  height: 36px;
  margin: 0;
  padding: 0;
  border-left: 1px solid #e4e4e4;
  line-height: 36px;
}
.k-grid .k-grouping-header th.k-header .k-link,
.k-grid-header th.k-header .k-link {
  display: block;
  margin: 0;
  padding: 0 18px 0 10px;
  line-height: unset;
}
.k-grid .k-grouping-header th.k-header .k-link::before,
.k-grid-header th.k-header .k-link::before {
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top: -14px;
  display: block;
  content: "";
  width: 28px;
  height: 28px;
  background-size: 8px 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("./../images/icon/btn_filter_default.svg");
}
.k-grid .k-grouping-header .k-icon.k-i-sort-asc-sm,
.k-grid .k-grouping-header .k-icon.k-i-sort-desc-sm,
.k-grid-header .k-icon.k-i-sort-asc-sm,
.k-grid-header .k-icon.k-i-sort-desc-sm {
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top: -14px;
}
.k-grid .k-grouping-header .k-icon.k-i-sort-asc-sm:before,
.k-grid .k-grouping-header .k-icon.k-i-sort-desc-sm:before,
.k-grid-header .k-icon.k-i-sort-asc-sm:before,
.k-grid-header .k-icon.k-i-sort-desc-sm:before {
  display: block;
  content: "";
  width: 28px;
  height: 28px;
  background-size: 8px 15px;
  background-repeat: no-repeat;
  background-position: center center;
}
.k-grid .k-grouping-header .k-i-sort-desc-sm:before,
.k-grid-header .k-i-sort-desc-sm:before {
  background-image: url("./../images/icon/btn_filter_down.svg");
}
.k-grid .k-grouping-header .k-i-sort-asc-sm:before,
.k-grid-header .k-i-sort-asc-sm:before {
  background-image: url("./../images/icon/btn_filter_up.svg");
}

.k-grid tr:last-child td {
  border-left: 1px solid #e4e4e4;
}
.k-grid tr:last-child td:first-child {
  border-left: 0;
}
.k-grid tr:hover {
  background-color: #eff2f7;
}
.k-grid td {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  height: 36px;
  padding: 0 10px;
  border-left: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  border-color: #e4e4e4;
}

/*
* ------------------------------
* Wrap
* ------------------------------
*/
.wrap {
  width: 100%;
  min-width: 1920px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  background-color: #f5f5f5;
}

/*
* ------------------------------
* Container
* ------------------------------
*/
#container {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.contents-wrap {
  flex: 1 0;
  padding: 20px 30px 30px;
  overflow: auto;
}

/*
* ------------------------------
* Header
* ------------------------------
*/
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 20px;
  height: 60px;
  background: #0e4194;
}
.header-wrap .left-group {
  display: flex;
  align-items: center;
}
.header-wrap .logo {
  display: inline-block;
  overflow: hidden;
  text-indent: -9000px;
  white-space: nowrap;
  width: 124px;
  height: 18px;
  background: url("./../images/gms_ci_ko@3x.png") no-repeat center/contain;
}
.header-wrap .logo-info {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.8px;
  color: #fff;
  margin-left: 4px;
  font-weight: 500;
}
.header-wrap .right-group {
  display: flex;
  align-items: center;
}

.profile-box {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
}
.profile-box .name {
  margin-left: 6px;
  font-weight: 500;
}

.timer-box {
  display: flex;
  align-items: center;
  height: 28px;
  margin-left: 14px;
  padding: 0 10px 0 12px;
  background-color: #3064b8;
  border-radius: 3px;
}
.timer-box .btn-text {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  text-decoration: underline;
}
.timer-box > * + * {
  margin-left: 8px;
}

.timer-set {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  display: flex;
  align-items: center;
  color: #ffe282;
}
.timer-set > * + * {
  margin-left: 5px;
}

/*
* ------------------------------
* Sidebar
* ------------------------------
*/
.sidebar-wrap {
  display: flex;
  flex-direction: column;
  flex: 0 0 220px;
  max-width: 220px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  transition: margin 0.2s;
}
.sidebar-wrap .sidebar-head {
  position: relative;
  padding: 12px 0 19px;
  border-bottom: 1px solid #ddd;
}
.sidebar-wrap .sidebar-head .main-menu {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 15px;
  line-height: 40px;
  font-weight: 500;
}
.sidebar-wrap .sidebar-head .main-menu .h-ico {
  margin-right: 10px;
}
.sidebar-wrap .sidebar-head .sub-menu a {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  display: block;
  padding: 0 20px 0 49px;
  color: #777;
}
.sidebar-wrap .sidebar-body {
  flex: 1;
  overflow: auto;
}
.sidebar-wrap .sidebar-foot {
  padding: 10px;
}
.sidebar-wrap .sidebar-foot .btn-box > * + * {
  margin-left: 6px;
}
.sidebar-wrap .sidebar-foot .k-button {
  height: 40px;
  padding: 0 30px;
}
.sidebar-wrap .sidebar-foot .k-button.lnb-close {
  padding: 0 2px;
  background-color: #eff2f7;
  border: 1px solid #ccc;
}
.sidebar-wrap .sidebar-foot .k-button.light-blue-border {
  padding: 0 2px;
}

/* 사이드바 */
.sidebar-1depth {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.75px;
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  padding: 0 20px;
  color: #222;
}
.sidebar-1depth::after {
  display: inline-block;
  content: "";
}
.sidebar-1depth .h-ico {
  margin-right: 8px;
}
.sidebar-2depth {
  display: none;
  padding: 4px 0;
  background-color: #eff2f7;
}
.sidebar-2depth ul {
  position: relative;
  padding: 17px 0;
  border-bottom: 1px solid #ddd;
}
.sidebar-2depth ul::before {
  position: absolute;
  top: 0;
  left: 37px;
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 50%;
}
.sidebar-2depth a {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.7px;
  display: flex;
  position: relative;
  padding-left: 49px;
  color: #555;
  transition: color 0.3s ease;
}
.sidebar-2depth a:hover {
  color: #0e4194;
  font-weight: 500;
}
.sidebar-2depth a:hover::before {
  background-color: #0e4194;
}
.sidebar-2depth a::before {
  position: absolute;
  top: 50%;
  left: 28px;
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  background-color: #aaa;
  border-radius: 50%;
}

/* 사이드바 - 2뎁스 메뉴 */
.has-submenu.active .sidebar-2depth {
  display: block;
}

.has-submenu.active .sidebar-1depth::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #0e4194;
}

.has-submenu .sidebar-1depth::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 20px;
  width: 15px;
  height: 15px;
  background-image: url("./../images/icon/icon_arrow_down.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.has-submenu.active .sidebar-1depth::after {
  transform: rotate(180deg);
}

/* 사이드바 - 3뎁스 메뉴 */
.sidebar-3depth {
  display: none;
}

.sidebar-2depth.active .sidebar-3depth {
  display: block;
}/*# sourceMappingURL=index.css.map */