/*
 * ------------------------------
 * 버튼
 * ------------------------------
 */
.h-btn, .k-button {
    @include bc-font-size-xsm;

    height: 26px;
    padding: 0 16px;
    border-radius: 3px;
    
    background-color: $bc-blue;
    border: 1px solid $bc-blue;
    color: $white;
    
    &:hover, &:focus {
        background-color: $bc-blue-hover;
        border: 1px solid $bc-blue-hover;
    }
    &.k-state-focused {
        background-color: $bc-blue-hover;
        border: 1px solid $bc-blue-hover;
    }
    &:disabled,
    &:disabled:hover,
    &:disabled:focus,
    &:disabled:active { //disabled 상태
        cursor: default;
        background: $gray-f5 !important;
        border: 1px solid $gray-c !important;
        color: $gray-a !important;
        opacity: 0.7;
    }
    &.md {
        height: 30px;
        padding: 0 20px;
    }
    .k-icon {
        width: 16px;
        height: 16px;
    }
    &:not(.col)> * + * {
        // 아이콘 같이 있는 경우
        margin-left: 6px;
    }
    &.k-button-icontext { //아이콘 + 텍스트 버튼
        padding: 0 12px;
        > * + * {
            margin-left: 4px;
        }
        &.md > * + * {
            margin-left: 8px; 
        }
    }
    /*
    * ------------------------------
    * 헤더버튼
    * ------------------------------
    */
}
.h-btn, .k-button { //color
    &.blue {
        background: $bc-blue;
        border: 1px solid $bc-blue;
        color: $white;
        &:hover, &:focus {
            background-color: $bc-blue-hover;
            border: 1px solid $bc-blue-hover;
        }
        &.k-state-active {

        }
        &.k-state-focused {
            background-color: $bc-blue-hover;
            border: 1px solid $bc-blue-hover;
        }
    }
    &.light-blue {
        background: $bc-light-blue;
        border: 1px solid $bc-light-blue;
        color: $bc-blue;
        &:hover, &:focus {
            background-color: $bc-light-blue-hover;
            border: 1px solid $bc-light-blue-hover;
        }
        &.k-state-active {

        }
        &.k-state-focused {
            background-color: $bc-light-blue-hover;
            border: 1px solid $bc-light-blue-hover;
        }
    }
    &.blue-border {
        background: $white;
        border: 1px solid $bc-blue;
        color: $layer-blue;
        &:hover, &:focus {
            background-color: $bc-light-blue;
            border: 1px solid $bc-blue;
        }
        &.k-state-active {

        }
        &.k-state-focused {
            background-color: $bc-light-blue;
            border: 1px solid $bc-blue;
        }
    }
    &.gray-border {
        background: $white;
        border: 1px solid $gray-5;
        color: $gray-2;
        &:hover, &:focus {
            background-color: $gray-e;
            border: 1px solid $gray-9;
        }
        &.k-state-active {

        }
        &.k-state-focused {
            background-color: $gray-e;
            border: 1px solid $gray-9;
        }
    }
    &.green {
        background-color: $bc-green;
        border: 1px solid $bc-green;
        color: $white;
        &:hover, &:focus {
            background-color: $bc-green-hover;
            border: 1px solid $bc-green-hover;
        }
        &.k-state-active {

        }
        &.k-state-focused {
            background-color: $bc-green-hover;
            border: 1px solid $bc-green-hover;
        }
    }
    &.light-green {
        background: $bc-light-green;
        border: 1px solid $bc-light-green;
        color: $green;
        &:hover, &:focus {
            background-color: $bc-light-green-hover;
            border: 1px solid $bc-light-green-hover;
        }
        &.k-state-active {

        }
        &.k-state-focused {
            background-color: $bc-light-green-hover;
            border: 1px solid $bc-light-green-hover;
        }
    }
}
/*
* ------------------------------
* 버튼 그룹
* ------------------------------
*/
.btn-box {
    &.bottom {
        .k-button {
            height: 30px;
            padding: 0 20px; 
        }
    }
    .k-button + .k-button {
        margin-left: 6px;
    }
}

.k-button-group {
    &.period {
        .k-button {
            @include bc-font-size-xsm;
            &.k-state-active, &.k-state-focused  {
                background-color: $bc-accent;
                border: 1px solid $bc-accent;
                + .k-button {
                    border-left: 1px solid $bc-accent;
                }
            }
            &:last-child {
                &.k-state-active, &.k-state-focused  {
                    border-right: 1px solid $bc-accent;
                }
            }
        }
        &.sm {
            .k-button {
                min-width: 80px;
                max-width: 80px;
                padding: 0;
            }
        }
    }
    &.round {
        .k-button {
            &.k-state-active, &.k-state-focused  {
                border: 1px solid $bc-blue;
                color: $bc-blue;
            }
        }
    }
    &.multi, &.square { 
        .k-button {
            &.k-state-active, &.k-state-focused  {
                border: 1px solid $bc-blue;
                color: $bc-blue;
                + .k-button {
                    border-left: 1px solid $bc-blue;
                }
            }
            &:last-child {
                &.k-state-active, &.k-state-focused  {
                    border-right: 1px solid $bc-blue;
                }
            }
        }
    }
}