/*
 * ------------------------------
 * 버튼
 * ------------------------------
 */
.h-btn , .k-button { //아이콘만 있는경우
    &.hidden {
        @include hide-text;
        min-width: 0 !important;
        padding: 0 !important;
        background-color: transparent !important;
        border: 0 !important;
    }
}
.k-button.link {
    @include font-size-sm;
    color: $main !important;
    line-height: 20px;
    text-decoration: underline !important;
}
.h-btn, .k-button {
    @include font-size-sm;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    height: 28px;
    padding: 0 20px;
    border-radius: 3px;
    white-space: nowrap;
    transition: background 0.1s ease-in;

    background-color: $main;
    border: 1px solid $main;
    color: $white;
    &.md {
        height: 32px;
        padding: 0 30px;
    }
    &:hover, &:focus {
        background-color: $marine-blue;
        border: 1px solid $marine-blue;
    }
    &.k-state-focused {
        background-color: $marine-blue;
        border: 1px solid $marine-blue;
    }
    
    &.text {
        background: transparent;
        border: 1px solid transparent;
        height: auto;
        padding: 0; 
        text-decoration: underline;
        &.is-checked {
            color: $main;
        }
        &.is-important {
            color: $error;
        }
    }
    .k-icon {
        width: 16px;
        height: 16px;
    }
    &:not(.col)> * + * {
        // 아이콘 같이 있는 경우
        margin-left: 6px;
    }
    &.k-button-icontext { //아이콘 + 텍스트 버튼
        padding: 0 12px;
        > * + * {
            margin-left: 4px;
        }
        &.md > * + * { 
            margin-left: 8px; 
        } 
        &.hidden > * + * {
            margin-left: 0;
        }
    }
    /*
    * ------------------------------
    * 헤더버튼
    * ------------------------------
    */
    &.logout { //로그아웃
        margin-left: 6px;
        border: 1px solid $btn-light-border;
        &.k-state-active {

        }
        &.k-state-focused {
            border: 1px solid $btn-light-border;
        }
    }
}
.h-btn, .k-button { //color
    &:disabled,
    &:disabled:hover, 
    &:disabled:focus,
    &:disabled:active { //disabled 상태
        cursor: default;
        background: $btn-blue-disabled !important;
        border: 1px solid $btn-blue-disabled !important;
        color: $white !important;
    }
    &.blue {
        background-color: $main;
        border: 1px soild $main;
        color: $white;
        &:hover, &:focus {
            background-color: $marine-blue;
        }
        &.k-state-active {

        }
        &.k-state-focused {
            background-color: $marine-blue;
        }
        
    }
    &.light-blue {
        background-color: $lavender;
        border: 1px solid $lavender;
        color: $main;
        &:hover, &:focus {
            background-color: $btn-light-blue-hover-bg;
        }
        &.k-state-active {
    
        }
        &.k-state-focused {
            background-color: $btn-light-blue-hover-bg;
        }
        &:disabled,
        &:disabled:hover, 
        &:disabled:focus,
        &:disabled:active { //disabled 상태
            cursor: default;
            background: $btn-light-blue-disabled !important;
            border: 1px solid $btn-light-blue-disabled !important;
            color: $btn-blue-disabled !important;
        }
    }
    &.light-blue-border {
        background-color: $tableBG1;
        border: 1px solid $gray-c;
    }
    &.blue-border {
        background: $white;
        border: 1px solid $main;
        color: $main;
        &:hover, &:focus {
            background-color: $btn-blue-border-hover-bg;
        }
        &.k-state-active {

        }
        &.k-state-focused {
            background-color: $btn-blue-border-hover-bg;
        }
        &:disabled,
        &:disabled:hover, 
        &:disabled:focus,
        &:disabled:active { //disabled 상태
            cursor: default;
            background: $white !important;
            border: 1px solid $btn-blue-disabled !important;
            color: $btn-blue-disabled !important;
        }
    }
    &.gray-border {
        background-color: $white;
        border: 1px solid $gray-9;
        color: $gray-2;
        &:hover, &:focus {
            background-color: $gray-e;
            border: 1px solid $gray-a;
        }
        &.k-state-active {

        }
        &.k-state-focused {
            background-color: $gray-e;
            border: 1px solid $gray-a;
        }
        &:disabled,
        &:disabled:hover, 
        &:disabled:focus,
        &:disabled:active { //disabled 상태
            cursor: default;
            background: $white !important;
            border: 1px solid $gray-c !important;
            color: $gray-c !important;
        }
    }
    &.green {
        background-color: $green;
        border: 1px solid $green-dark;
        color: $white;
        &:hover, &:focus {
            background-color: $green-dark;
            border: 1px solid $green-dark;
        }
        &.k-state-active {

        }
        &.k-state-focused {
            background-color: $green-dark;
        }
    }
    &.light-green {
        background-color: $green-light;
        border: 1px solid $green-light;
        color: $green;
        &:hover, &:focus {
            background-color: $green-light-hover;
            border: 1px solid $green-light-hover;
            color: $green;
        }
        &.k-state-active {
     
        }
        &.k-state-focused {
            background-color: $green-light-hover;
            border: 1px solid $green-light-hover;
            color: $green; 
        }
    }    
}

/*
 * ------------------------------
 * 버튼 그룹
 * ------------------------------
 */
.k-dialog {
    .btn-box.bottom {
        margin-top: 10px;
        justify-content: flex-end;
    }
}
.btn-box {
    display: flex;
    justify-content: center;
    &.col {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        .k-button + .k-button {
            margin-top: 6px;
            margin-left: 0;
        }
    }
    &.bottom {
        justify-content: flex-end;
        margin-top: 10px;
        .k-button, .h-btn {
            height: 32px;
        }
    }
    .k-button {
        flex: 0 1 auto;
    }
    .k-button + .k-button {
        margin-left: 6px;
    }
}

.k-button-group {
    display: flex;
    justify-content: center;
    &.period {
        .k-button {
            @include font-size-sm;
            flex: 0 1 auto;
            min-width: 57px;
            background-color: $white;
            border:  1px solid $gray-a;
            border-right: 0;
            color: $gray-7;
            border-radius: 0;
            &.k-state-active, &.k-state-focused  {
                background-color: $accent;
                border: 1px solid $accent;
                border-right: 0;
                color: $white;
                + .k-button {
                    border-left: 1px solid $accent;
                }
            }
            &:first-child {
                border-radius: 3px 0 0 3px;
            }
            &:last-child {
                border-radius: 0 3px 3px 0;
                border-right: 1px solid $gray-a;
                &.k-state-active, &.k-state-focused  {
                    border-right: 1px solid $accent;
                }
            }
            // + .k-button {
            //     &.k-state-active {
            //         margin-left: 0px;
            //         padding-left: 20px;
            //     }
            // }
        }
    }
    &.round {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: -3px;
        .k-button {
            margin: 3px 0;
            padding: 0 5px;
            height: 17px;
            background-color: $white;
            border: 1px solid $gray-c;
            border-radius: 10px;
            font-size: 12px;
            line-height: 17px;
            letter-spacing: -0.6px;
            color: $gray-7;
            + .k-button {
                margin-left: 6px;
            }
            &.k-state-active, &.k-state-focused  {
                border: 1px solid $main;
                color: $main;
            }
        }
        
    }
    
    &.multi, &.square { 
        &.square-8 {
            flex-wrap: wrap;
            justify-content: flex-start;
            .k-button {
                &.blanked {
                    background: #fff !important;
                }
                width: 12.5%;
                height: 40px;
                &:nth-of-type(n+9) {
                    border-top: none;
                    &.k-state-active, &.k-state-focused  {
                        &::after {
                            top: -1px;
                        }
                    }
                }
                &:nth-of-type(8n), &:last-child  {
                    border-right: 1px solid $gray-c;
                    &.k-state-active, &.k-state-focused  {
                        span {
                            margin-right: 0px;
                        }
                        &::after {
                            right: 0px !important;
                        }
                    }
                }
                &.k-state-active, &.k-state-focused  {
                    border: none !important;
                    span {
                        margin-right: -1px;
                    }
                    + .k-button {
                        border-left: 1px solid $gray-c;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0; left: 0; bottom: 0;
                        padding-left: 1px;
                        border: 1px solid $main;
                        right: -1px !important;
                        z-index: 11; 
                    }
                    // background-color: $white;
                    // border-right: 0;
                    // color: $main;
                    // + .k-button {
                    //     border-left: 1px solid $main;
                    // }
                }
            }
        }
        .k-button {
            @include font-size-sm;
            flex: 0 1 auto;
            height: 28px;
            // min-width: 57px;
            background-color: $white;
            border:  1px solid $gray-c;
            border-right: 0;
            color: $gray-5;
            border-radius: 0;
            &.k-state-active, &.k-state-focused  {
                background-color: $white;
                border: 1px solid $main;
                border-right: 0;
                color: $main;
                + .k-button {
                    border-left: 1px solid $main;
                }
            }
            &:first-child {
                // border-radius: 3px 0 0 3px;
            }
            &:last-child {
                // border-radius: 0 3px 3px 0;
                border-right: 1px solid $gray-a;
                &.k-state-active, &.k-state-focused  {
                    border-right: 1px solid $main;
                }
            }
            + .k-button {
                &.k-state-active {
                    margin-left: 0px;
                    padding-left: 20px;
                }
            }
        }
    }

    
}

.center-box {
    margin-top: 10px;
    padding: 20px 0;
}


