/*
* ------------------------------
* checkbox, radiobox
* ------------------------------
*/
.h-checkbox input[type="checkbox"] + label::before { //20px(md)
    background-image: url($imgPathIcon+'/checkbox_default.svg');
    transition: background 0.3s ease;
}
.h-checkbox input[type="radio"] + label::before { //20px(md)
    background-image: url($imgPathIcon+'/radio_default.svg');
    transition: background 0.3s ease;
} 

.h-checkbox input[type="checkbox"]:checked + label::before {
    background-image: url($imgPathIcon+'/checkbox_checked.svg');
}
.h-checkbox input[type="radio"]:checked + label::before {
    background-image: url($imgPathIcon+'/radio_checked.svg');
}

.h-checkbox {
    padding-left: 20px + 6px;
}
.h-checkbox input[type="checkbox"]:disabled + label::before {
//  background-image: url($imgPathIcon+'/');
}
.h-checkbox input[type="radio"]:disabled + label::before {
//  background-image: url('');
}
/*
* ------------------------------
* 
* ------------------------------
*/

.h-checkbox {
    input[type="radio"] + label  span,
    input[type="checkbox"] + label span {
        @include bc-font-size-xsm;
    }
}