/*
* ------------------------------
* checkbox, radiobox
* ------------------------------
*/
.h-checkbox {
    display: block;
}
.h-checkbox input[type="checkbox"],
.h-checkbox input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0px;
}
.h-checkbox input[type="checkbox"] + label,
.h-checkbox input[type="radio"] + label {
    /*체크해제 상태*/
    color: $gray-5;
    display: block;
}
.h-checkbox input[type="checkbox"] + label span,
.h-checkbox input[type="radio"] + label span {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.h-checkbox input[type="checkbox"] + label::before,
.h-checkbox input[type="radio"] + label::before {
    /*체크해제 상태*/
    position: absolute;
    left: 0;
    //  top: 0;
    top: 50%;
    margin-top: -10px;
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.h-checkbox input[type="checkbox"]:checked + label span {
    display: inline-block;
    // vertical-align: middle;
}
.h-checkbox input[type="checkbox"] + label::before { //20px(md)
    background-image: url('./../images/icon/md-20/btn_checkbox_off@3x.png');
    background-image: url('./../images/icon/md-20/btn_checkbox_off.svg');
    transition: background 0.3s ease;
}
.h-checkbox input[type="radio"] + label::before { //20px(md)
    background-image: url('./../images/icon/md-20/btn_radio_default@3x.png');
    background-image: url('./../images/icon/md-20/btn_radio_default.svg');
    transition: background 0.3s ease;
} 

.h-checkbox input[type="checkbox"]:checked + label::before {
    background-image: url('./../images/icon/md-20/btn_checkbox_checked@3x.png');
    background-image: url('./../images/icon/md-20/btn_checkbox_checked.svg');
}
.h-checkbox input[type="radio"]:checked + label::before {
    background-image: url('./../images/icon/md-20/btn_radio_checked@3x.png');
    background-image: url('./../images/icon/md-20/btn_radio_checked.svg');
}


.h-checkbox input[type="checkbox"]:disabled + label::before {
//  background-image: url('');
}
.h-checkbox input[type="radio"]:disabled + label::before {
//  background-image: url('');
}
/*
* ------------------------------
* 
* ------------------------------
*/
.check-group {
    display: flex;
    .h-checkbox {
        margin-right: 12px;
    }
} 
.h-checkbox {
    position: relative;
    padding-left: 20px + 8px;
    &.no-label {
        width: 20px;
        height: 20px;
        padding-left: 0;
        // margin-left: auto;
        // margin-right: auto;
    }
    input[type="radio"] + label::before,
    input[type="checkbox"] + label::before {
        width: 20px;
        height: 20px;
    }
    input[type="radio"] + label  span,
    input[type="checkbox"] + label span {
        @include font-size-sm;
    }
}