/*
 * ------------------------------
 * í¼
 * ------------------------------
 */

.box-group {
    display: flex;
    gap: 6px;
}
.form-group {
    .label {
        @include bp-font-size-sm;
    }
    &.box {
        padding: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $gray-c;
        border-radius: 3px;
        flex: 1 1 auto;
        &.is-checked {
            border: 1px solid $layer-blue;
        }
    }
    > * + * {
        margin-left: 20px;
    }
    &.col {
        > * + * {
            margin-left: 0;
            margin-top: 6px;
        }
    }
}

.form-set {
    > *:not(.bar) + *:not(.bar) {
        margin-left: 6px;
    }
    .h-checkbox + .input-set {
        margin-left: 10px;
    }
}