

.h-ico {
    // 40*40
    @for $i from 1 through 14 { //업종구분
        &.sector#{$i} {
            @include iconSvg($width: 40px, $height: 40px, $name: 'sector#{$i}', $size: contain );
        }
    }
}
.k-button.k-state-active, .k-button.k-state-focused, .k-button:hover {
    @for $i from 1 through 14 {
        .h-ico.sector#{$i} {
            background-image: url($imgPathIcon+'/sector#{$i}_hover.svg');
        }
    }
}
.h-ico { 
    &.refresh {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_refresh', $size: contain);
    }
    &.link {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_link', $size: contain);
    }
    &.down {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_arrow_down', $size: contain);
    }
    &.up {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_arrow_up', $size: contain);
    }
    &.close {
        @include iconSvg($width: 18px, $height: 18px, $name: 'btn_X', $size: 18px 18px );
    }
    &.plus {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_plus', $size: contain );
    }

    //lg 24*24 
    &.register {
        @include iconSvg($width: 24px, $height: 24px, $name: 'icon_regi', $size: contain );
    }

    &.search { //공통
        @include iconSvg($width: 30px, $height: 100%, $name: 'icon_search', $size: 16px 16px );
        &:disabled {
            background-image: url($imgPathIcon+'/icon_search_disabled.svg');
        }
    }
}
.k-i- { 
    &refresh {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_refresh', $size: contain);
    }
    &link {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_link', $size: contain);
    }
    &down {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_arrow_down', $size: contain);
    }
    &up {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_arrow_up', $size: contain);
    }
    &close {
        @include iconSvg($width: 16px, $height: 16px, $name: 'btn_X', $size: contain );
    }
    &plus {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_plus', $size: contain );
    }

    //lg 24*24 
    &register {
        @include iconSvg($width: 24px, $height: 24px, $name: 'icon_regi', $size: contain );
    }

    &search { //공통
        @include iconSvg($width: 30px, $height: 100%, $name: 'icon_search', $size: 16px 16px );
        &:disabled {
            background-image: url($imgPathIcon+'/icon_search_disabled.svg');
        }
    }
}