
.h-ico {
    &.pop-timer {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_logout_time', $size: contain );
    }
    &.search { //공통
        @include iconSvg($width: 26px, $height: 100%, $name: 'icon_search', $size: 14px 14px );
        &:disabled {
            background-image: url($imgPathIcon+'/icon_search_disabled.svg');
        }
    }
    &.profile-blue {
        @include iconPng($width: 20px, $height: 20px, $name: 'icon_profile@2x', $size: contain );
    }
    &.questmark {
        @include iconSvg($width: 26px, $height: 26px, $name: 'btn_tip_hover', $size: 26px 26px );
        &.k-state-border-down {
            background-image: url($imgPathIcon+'/btn_tip_hover.svg');
        }
    }
    &.remote {
        @include iconSvg($width: 28px, $height: 28px, $name: 'icon_remote', $size: 20px 20px );
    }
    &.adduser {
        @include iconSvg($width: 28px, $height: 28px, $name: 'icon_user_regi', $size: 20px 20px );
    }
    &.mail {
        @include iconSvg($width: 28px, $height: 28px, $name: 'icon_sms', $size: 20px 20px );
    }
    &.call {
        @include iconSvg($width: 28px, $height: 28px, $name: 'icon_call', $size: 20px 20px );
    }
    &.consult {
        @include iconSvg($width: 28px, $height: 28px, $name: 'icon_counsel_regi', $size: 20px 20px );
    }
        
}

.k-i- {
    &search { //공통
        @include iconSvg($width: 26px, $height: 100%, $name: 'icon_search', $size: 14px 14px );
        &:disabled {
            background-image: url($imgPathIcon+'/icon_search_disabled.svg');
        }
    }
    &calendar {
        @include iconSvg($width: 14px, $height: 14px, $name: 'icon_calendar', $size: contain );
    }
    &arrow-chevron-down {
        @include iconSvg($width: 14px, $height: 14px, $name: 'icon_arrow_down', $size: contain );
        transition: all 0.2s ease;
    }
    &arrow-chevron-up {
        @include iconSvg($width: 14px, $height: 14px, $name: 'icon_arrow_down', $size: contain );
        transform: rotate(-180deg);
        transition: all 0.2s ease;
    }
}