

.h-ico, .k-icon {
    display: inline-flex;
	flex: 0 0 auto;
	vertical-align: middle;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
    padding: 0;
	position: relative; //IE 버튼 흔들림 방지
    transition: background 0.1s ease;
}
.h-ico {
    &.xs {
        width: 15px;
        height: 15px;
    }
    &.xsm {
        width: 16px;
        height: 16px;
    }
    &.sm {
        width: 18px;
        height: 18px;
    }
    &.md {
        width: 20px; 
        height: 20px;
    }
    &.lg {
        width: 26px; 
        height: 26px;
    }
    &.xl {
        width: 40px; 
        height: 40px;
    }
}
th .required {
    vertical-align: middle;
    display: inline-block;
    margin-left: 2px;
    color: $error;
    font-size: 14px;
}
.h-ico {
    &.filter {
        @include iconSvg($width: 28px, $height: 28px, $name: 'btn_filter_default', $size: 8px 15px );
        margin-right: -10px;
    }
    &.close { //이미지 요청
        @include iconSvg($width: 26px, $height: 26px, $name: 'btn_X', $size: 18px 18px );
    }
    &.clear { //이미지 요청
        @include iconSvg($width: 26px, $height: 26px, $name: 'btn_X', $size: 12px 12px );
    }
    //xs 15*15
    &.up {
        @include iconSvg($width: 15px, $height: 15px, $name: 'icon_arrow_up', $size: contain );
    }
    &.down {
        @include iconSvg($width: 15px, $height: 15px, $name: 'icon_arrow_down', $size: contain );
    }
    &.time {
        @include iconSvg($width: 15px, $height: 15px, $name: 'icon_time', $size: contain );
    }
    &.input-check {
        @include iconSvg($width: 15px, $height: 15px, $name: 'icon_check_default', $size: contain );
    }
    // &.is-checked .input-check {
    //     background-image: url($imgPathIcon+'/icon_check_blue.svg');
    // }
    // &.is-important .input-check {
    //     background-image: url($imgPathIcon+'/icon_check_active.svg');
    // }
    &.is-important {
        &.k-state-focused, 
        &.k-state-active {
            background-image: url($imgPathIcon+'/icon_check_active.svg');
          
        }  
    }
    &.plus {
        @include iconSvg($width: 15px, $height: 15px, $name: 'icon_plus', $size: contain );
    }
    //xsm 16*16
    &.prev {
        @include iconSvg($width: 28px, $height: 28px, $name: 'icon_arrow_left', $size: 16px 16px );
    }
    &.next {
        @include iconSvg($width: 28px, $height: 28px, $name: 'icon_arrow_right', $size: 16px 16px );
    }
    &.mail {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_mystorage', $size: contain );
    }
    &.rotate-left {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_rotate_left', $size: contain );
    }
    &.rotate-right {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_rotate_right', $size: contain );
    }
    &.lnb-close { 
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_lnb_close', $size: contain );
    }
    //sm 18*18
    &.bookmark {
        @include iconSvg($width: 18px, $height: 18px, $name: 'btn_bookmark_default', $size: contain );
        &.active {
            background-image: url($imgPathIcon+'/btn_bookmark_active.svg');
        }
    }
    &.search { //공통
        @include iconSvg($width: 30px, $height: 100%, $name: 'icon_search', $size: 18px 18px );
        &:disabled {
            background-image: url($imgPathIcon+'/icon_search_disabled.svg');
        }
    }
    &.blue {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_search_btn', $size: contain );
    }
    &.menu1 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_standard_default', $size: contain );
    }
    &.menu2 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_contract_default', $size: contain );
    }
    &.menu3 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_calculate_default', $size: contain );
    }
    &.menu4 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_charge_default', $size: contain );
    }
    &.menu5 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_distribution_default', $size: contain );
    }
    &.menu6 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_accounting_default', $size: contain );
    }
    &.menu7 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_service_default', $size: contain );
    }
    &.menu8 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_athorize_default', $size: contain );
    }
    // 20*20
    &.profile {
        @include iconSvg($width: 20px, $height: 20px, $name: 'icon_profile', $size: contain );
    }
    &.profile-blue {
        @include iconPng($width: 20px, $height: 20px, $name: 'icon_profile_blue@3x', $size: contain );
    }
    &.noti {
        @include iconSvg($width: 20px, $height: 20px, $name: 'icon_tip', $size: contain );
    }
    // 26*26
    &.tip {
        @include iconSvg($width: 26px, $height: 26px, $name: 'btn_tip_default', $size: contain );
        &.k-state-border-down {
            background-image: url($imgPathIcon+'/btn_tip_hover.svg');
        }
    }
    
}
// 52*52
.status-banner.contract .list {
    background-position: 20px 10px;
    background-size: 52px 52px;
    background-repeat: no-repeat;
    &.list1 {
        background-image: url($imgPathIcon+'/icon_contact_01.svg');
    }
    &.list2 {
        background-image: url($imgPathIcon+'/icon_contact_02.svg');
    }
    &.list3 {
        background-image: url($imgPathIcon+'/icon_contact_03.svg');
    }
    &.list4 {
        background-image: url($imgPathIcon+'/icon_contact_04.svg');
    }
    &.list5 {
        background-image: url($imgPathIcon+'/icon_contact_05.svg');
    }
    &.list6 {
        background-image: url($imgPathIcon+'/icon_contact_06.svg');
    }
    &.list7 {
        background-image: url($imgPathIcon+'/icon_contact_07.svg');
    }
}
.status-banner.settlement {
    .list {
        position: relative;
        background-position: calc(100% - 24px) 14px;
        background-size: 26px 26px;
        background-repeat: no-repeat;
        &::after {
            @include font-size-guide;
            position: absolute;
            right: 25px;
            bottom: 13px;
            display: block;
            font-weight: 500;
            line-height: 19px;
        }
    }
        
    .list.done {
        background-image: url($imgPathIcon+'/icon_complete.svg');
        border: 1px solid $green;
        background-color: $green-light;
        &::after {
            content: '완료';
            color: $green;
        }
    }
    .list.wait {
        background-image: url($imgPathIcon+'/icon_waiting.svg');
        &::after {
            content: '대기';
            color: $gray-6;
        }
    }
    .list.ing {
        background-image: url($imgPathIcon+'/icon_proceeding.svg');
        border: 1px solid $main;
        background-color: $lavender;
        &::after {
            content: '진행중';
            right: 20px;
            color: $main;
        }
    }
}
.sidebar-1depth:hover .h-ico.menu1, .active .h-ico.menu1 {
    background-image: url($imgPathIcon+'/icon_standard_selected.svg');
}
.sidebar-1depth:hover .h-ico.menu2, .active .h-ico.menu2 {
    background-image: url($imgPathIcon+'/icon_contract_selected.svg');
}
.sidebar-1depth:hover .h-ico.menu3, .active .h-ico.menu3 {
    background-image: url($imgPathIcon+'/icon_calculate_selected.svg');
}
.sidebar-1depth:hover .h-ico.menu4, .active .h-ico.menu4 {
    background-image: url($imgPathIcon+'/icon_charge_selected.svg');
}
.sidebar-1depth:hover .h-ico.menu5, .active .h-ico.menu5 {
    background-image: url($imgPathIcon+'/icon_distribution_selected.svg');
}
.sidebar-1depth:hover .h-ico.menu6, .active .h-ico.menu6 {
    background-image: url($imgPathIcon+'/icon_accounting_selected.svg');
}
.sidebar-1depth:hover .h-ico.menu7, .active .h-ico.menu7 {
    background-image: url($imgPathIcon+'/icon_service_selected.svg');
}
.sidebar-1depth:hover .h-ico.menu8, .active .h-ico.menu8 {
    background-image: url($imgPathIcon+'/icon_athorize_selected.svg');
}

.input-check {
    // &.k-state-focused, 
    // &.k-state-active,
    &.k-state-active-custom {
        color: $main;
        .k-i-input-check {
            background-image: url($imgPathIcon+'/icon_check_blue.svg');
        }
    }
    // &.is-checked {
    //     color: $main;
    //     &.k-state-focused, 
    //     &.k-state-active { color: $main; }
    //     .k-i-input-check {
    //         background-image: url($imgPathIcon+'/icon_check_blue.svg');
    //     }
    // }
    &.is-important {
        // color: $error;
        // &.k-state-focused, 
        // &.k-state-active,
        &.k-state-active-custom { 
            color: $error; 
            .k-i-input-check {
                background-image: url($imgPathIcon+'/icon_check_active.svg');
            }
        }
    }
   
}

.k-i- {
    &example {
     background: gray;
    }
    &filter {
        @include iconSvg($width: 28px, $height: 28px, $name: 'btn_filter_default', $size: 8px 15px );
        margin-right: -10px;
    }
    &k-i-x {
        @include iconSvg($width: 12px, $height: 12px, $name: 'btn_X', $size: 12px 12px );
    }
    &close { //이미지 요청-> 반영
        @include iconSvg($width: 18px, $height: 18px, $name: 'btn_delete', $size: 15px 15px );
    }
    &btn_X { //이미지 요청-> 반영
        @include iconSvg($width: 18px, $height: 18px, $name: 'btn_X', $size: 18px 18px );
        width: 18px !important;
        height: 18px !important;
    }
    //xs 15*15
    &up {
        @include iconSvg($width: 15px, $height: 15px, $name: 'icon_arrow_up', $size: contain );
    }
    &down {
        @include iconSvg($width: 15px, $height: 15px, $name: 'icon_arrow_down', $size: contain );
    }
    &time {
        @include iconSvg($width: 15px, $height: 15px, $name: 'icon_time', $size: contain );
    }
    &input-check {
        @include iconSvg($width: 15px, $height: 15px, $name: 'icon_check_default', $size: contain );
    }
    &plus {
        @include iconSvg($width: 15px, $height: 15px, $name: 'icon_plus', $size: contain );
    }
   
    //xsm 16*16
    &mail {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_mystorage', $size: contain );
    }
    &rotate-left {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_rotate_left', $size: contain );
    }
    &rotate-right {
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_rotate_right', $size: contain );
    }
    &lnb-close { 
        @include iconSvg($width: 16px, $height: 16px, $name: 'icon_lnb_close', $size: contain );
    }
    
   
    //sm 18*18
    &calendar {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_calendar', $size: contain );
    }
    &bookmark {
        @include iconSvg($width: 18px, $height: 18px, $name: 'btn_bookmark_default', $size: contain );
        &active {
            background-image: url($imgPathIcon+'/btn_bookmark_active.svg');
        }
    }
    &search { //공통
        @include iconSvg($width: 30px, $height: 100%, $name: 'icon_search', $size: 18px 18px );
        &:disabled {
            background-image: url($imgPathIcon+'/icon_search_disabled.svg');
        }
    }
    &search-blue { //공통
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_search_btn', $size: contain );
    }
    &menu1 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_profile', $size: contain );
    }
    &menu2 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_4', $size: contain );
    }
    &menu3 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_1', $size: contain );
    }
    &menu4 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_3', $size: contain );
    }
    &menu5 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_profile', $size: contain );
    }
    &menu6 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_4', $size: contain );
    }
    &menu7 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_3', $size: contain );
    }
    &menu8 {
        @include iconSvg($width: 18px, $height: 18px, $name: 'icon_2', $size: contain );
    }
    // 20*20
    &profile {
        @include iconSvg($width: 20px, $height: 20px, $name: 'icon_profile', $size: contain );
    }
    &profile-blue {
        @include iconPng($width: 20px, $height: 20px, $name: 'icon_profile_blue@3x', $size: contain );
    }
    // 26*26
    &tip {
        @include iconSvg($width: 26px, $height: 26px, $name: 'btn_tip_default', $size: contain );
        &:hover {
            background-image: url($imgPathIcon+'/btn_tip_hover.svg');
        }
    }
}