/*
* ------------------------------
* input - common
* ------------------------------
*/
.h-input { //상태
	@include font-size-sm;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	width: 100%;
	height: 28px;
	padding: 0 10px;
	background-color: $white;
	border:  1px solid $gray-c;
	border-radius: 3px;
	color: $gray-5;
	transition: 0.3s ease-in-out;
	&:focus {
		border:  1px solid $gray-2;
		color: $gray-2
	}
	&:disabled,
	&:disabled:focus {
		border:  1px solid $gray-c;
		background-color: $gray-f5;
		color: $gray-a;
	}
	// &.readonly,
	// &.readonly:focus,
	// &[readonly],
	// &[readonly]:focus {
	// 	border:  1px solid $gray-e4;
	// 	background-color: $white;
	// }
	&::placeholder {
		// @include input_placeholder;
		font-size: 14px;
		letter-spacing: -0.75px;
		color: $gray-a;
	}
}
.h-input { //사이즈
	&.sm {
		max-width: 110px;
		min-width: 110px;
	}
	&.lg {
		max-width: 230px;
		min-width: 230px;
	}
	&.xl {
		max-width: 400px;
		min-width: 400px;
	}
}

/*
* ------------------------------
* input - common
* ------------------------------
*/
.input-box {
	position: relative;
	&.sm .h-input {
		max-width: 110px;
		min-width: 110px;
	}
	&.lg .h-input {
		max-width: 230px;
		min-width: 230px;
	}
}
.input-box {
	&.search {
		&::after {
			content: '';
			position: absolute;
			top: 5px; 
			left: 10px;
			display: block;
			width: 18px;
			height: 18px;
			background-image: url('../images/icon/icon_search.svg');
			background-size: 18px 18px;
		}
		.h-input {
			padding-left: 32px;
		}
	} 
	&.error {
		.h-input {
			border: 1px solid $error;
		}
		.note {
			@include font-size-xs;
			color: $error;
		}
	}
}



