/*
* ------------------------------
* input - common
* ------------------------------
*/
.h-input, .k-input { //상태
	@include bp-font-size-sm;
	height: 30px;
	
	// &.readonly,
	// &.readonly:focus,
	// &[readonly],
	// &[readonly]:focus {
	// 	border:  1px solid $gray-e4;
	// 	background-color: $white;
	// }
	&::placeholder {
		@include bp-font-size-sm;
		color: $gray-a;
		font-weight: 400;
	}
}
.h-input, .k-input { //사이즈
	&.xs {
		max-width: 50px;
		min-width: 50px;
	}
	&.sm {
		max-width: 106px;
		min-width: 106px;
	}
	&.lg {
		max-width: 200px;
		min-width: 200px;
	}
	&.xl {
		// max-width: 400px;
		// min-width: 400px;
	}
}

/*
* ------------------------------
* input - common
* ------------------------------
*/
.input-set {
	// &.sm .h-input {
	// 	max-width: 110px;
	// 	min-width: 110px;
	// }
	// &.lg .h-input {
	// 	max-width: 230px;
	// 	min-width: 230px;
	// }
}
.form-set {
	.form-label {
		@include bp-font-size-sm;
		font-weight: bold;
	}
}
.input-set {
	&.col {
		align-items: flex-start;
	}
	&.xxs {
		max-width: 60px;
		min-width: unset;
	}
	&.xs {
		max-width: 100px;
		min-width: unset;
	}
	&.sm {
		max-width: 134px;
		min-width: 134px;
	}
	&.md {
		max-width: 170px;
		min-width: unset;
	}
	&.lg {
		max-width: 320px; 
		min-width: unset;
	}
}
.input-set {
	height: 30px;
	&.search {
		.h-input, .k-input {
			padding: 0 10px;
		}
		.k-button {
			padding: 0;
			border-left: 1px solid $gray-c;
		}
		.k-i-search { 
			background-size: 16px 16px;
		}
	}
	.input-label {
		@include bp-font-size-sm;
		font-weight: bold;
	}
	.unit {
		@include bp-font-size-sm;
	}
	.h-input ,.k-input {
		color: $gray-2;
		border-radius: 3px 0px 0px 3px;
		// padding-left: 10px;
		text-indent: -1px;
		text-align: right;
		&::after {
			content: '';
			display: block;
			width: 1px;
			height: 100%;
		}
	}
	.k-button {
		height: 28px;
		
	}
	&.error {
		border: none;
		padding: 0;
		.h-input,.k-input {
			padding: 0 10px;
			border: 1px solid $error;
			text-align: left;
		}
		.note {
			@include bp-font-size-xs;
		}
	}
}



