/*
* ------------------------------
* input - common
* ------------------------------
*/

.h-input, .k-input { //상태
	@include font-size-sm;
	display: flex;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	width: 100%;
	height: 28px;
	padding: 0 10px;
	background-color: $white;
	border:  1px solid $gray-c;
	border-radius: 3px;
	color: $gray-5;
	transition: 0.3s ease-in-out;
	&:focus {
		border:  1px solid $gray-2;
		color: $gray-2
	}
	&:disabled,
	&:disabled:focus {
		border:  1px solid $gray-c;
		background-color: $gray-f5;
		color: $gray-a;
	}
	// &.readonly,
	// &.readonly:focus,
	// &[readonly],
	// &[readonly]:focus {
	// 	border:  1px solid $gray-e4;
	// 	background-color: $white;
	// }
	&::placeholder {
		// @include input_placeholder;
		font-size: 14px;
		letter-spacing: -0.75px;
		font-weight: 400;
		color: $gray-a;
	}
}
.h-input,.k-input { //사이즈
	&.sm {
		max-width: 110px;
		min-width: 110px;
	}
	&.xsm {
		max-width: 120px;
		min-width: 120px;
	}
	&.md {
		max-width: 140px;
		min-width: 140px;
	}
	&.lg {
		max-width: 230px;
		min-width: 230px;
	}
	&.xl {
		max-width: 400px;
		min-width: 400px;
	}
}

/*
* ------------------------------
* input - common
* ------------------------------
*/
.input-set {
	position: relative;
	&.sm {
		max-width: 110px;
		min-width: 110px;
	}
	&.lg {
		max-width: 230px;
		min-width: 230px;
	}
}

.input-set {
	display: flex;
	align-items: center;
    white-space: nowrap;
	padding: 0 10px;
	border: 1px solid $gray-c;
	border-radius: 3px;
	width: 100%;
	height: 28px;
	background-color: $white;
	overflow: hidden;
	
	&.col {
		flex-direction: column;
	}
	.input-label {
		@include font-size-sm;
		margin-right: 6px;
		color: $gray-6;
	}
	.h-input,.k-input {
		min-width: unset;
		height: 28px;
		padding: 0;
		border: none;
		font-weight: bold;
		// text-align: right;
		
	}
	.unit {
		@include font-size-sm;
		margin-left: 6px;
		color: $gray-2;
	}
	&.search {
		padding: 0;
		.h-input, .k-input {
			height: 28px;
			border-radius: 3px 0px 0px 3px;
			padding-left: 10px;
			text-align: left;
		}
		.k-button {
			min-width: 0;
			width: 30px;
			height: 28px;
			padding: 0;
			background-color: $white;
			border-radius: 0px 3px 3px 0;
			border: none;
		}
	} 
	&.error {
		.h-input,.k-input {
			border: 1px solid $error;
		}
		.note {
			@include font-size-xs;
			color: $error;
		}
	}
}


