/*
* ------------------------------
* input - common
* ------------------------------
*/
	.h-input,.k-input { //상태
		@include bc-font-size-xsm;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		width: 100%;
		height: 26px;
		padding: 0 10px;
		background-color: $white;
		border:  1px solid $gray-c;
		border-radius: 3px;
		color: $gray-5;
		transition: 0.3s ease-in-out;
		&:focus {
			border:  1px solid $gray-2;
			color: $gray-2
		}
		&:disabled,
		&:disabled:focus {
			border:  1px solid $gray-c;
			background-color: $gray-f5;
			color: $gray-a;
		}
		// &.readonly,
		// &.readonly:focus,
		// &[readonly],
		// &[readonly]:focus {
		// 	border:  1px solid $gray-e4;
		// 	background-color: $white;
		// }
		&::placeholder {
			// @include input_placeholder;
			font-size: 13px;
			letter-spacing: -0.65px;
			color: $gray-a;
		}
	}
	.h-input,.k-input { //사이즈
		// &.sm {
		// 	max-width: 106px;
		// 	min-width: 106px;
		// }
		&.md {
			max-width: 140px;
			min-width: 140px;
		}
		// &.lg {
		// 	max-width: 230px;
		// 	min-width: 230px;
		// }
		// &.xl {
		// 	max-width: 400px;
		// 	min-width: 400px;
		// }
	}


/*
* ------------------------------
* input - common
* ------------------------------
*/
.input-set {
	&.sm {
		max-width: 106px;
		min-width: 106px;
	}
	&.md {
		max-width: 140px;
		min-width: 140px;
	}
}
.input-set {
	height: 26px;
	.input-label {
		@include bc-font-size-xsm;
	}
	.h-input,.k-input {
		height: 26px;
	}
	.unit {
		@include bc-font-size-xsm;
	}
	&.error {
		.note {
			@include bc-font-size-xs;
		}
	}
}
