
/*
* ------------------------------
* window
* ------------------------------
*/
.bc {
    .select-industry-box {
        display: flex;
        .left-group {

        }
        .right-group {
            margin-left: 10px;
            background: $gray-f7;
            border: 1px solid $gray-e;
        }
    }
}
/*
* ------------------------------
* dialog
* ------------------------------
*/

.bc {
    .k-dialog-titlebar {
        @include bc-font-size-sm;  
    }
    .pop-guide {
        .list {
            @include bc-font-size-xs; 
        }
    }
}


/*
 * ------------------------------
 * BC0003
 * ------------------------------
 */
.bc {
    .main-info {
        @include bc-font-size-md;
        margin-top: 20px;
        color: $gray-2;
        font-weight: bold;
        text-align: center;
    }
    .sub-info {
        @include bc-font-size-xsm;
        margin-top: 12px;
        color: $gray-7;
        text-align: center;
    }
    .check {
        display: block;
        margin: 0 auto;
    }
}

/*
 * ------------------------------
 * BC0004
 * ------------------------------
 */



