/*
* ------------------------------
* dialog
* ------------------------------
*/
.k-window.k-dialog {
    .content-group {
        padding: 30px;
    }
    .btn-box.justify-content-end {
        margin-top: 10px;
    }
}
.pop-guide {
    .list {
        @include bp-font-size-xs; 
        color: $gray-7;
        line-height: 18px;
    }
}

/*
* ------------------------------
* window
* ------------------------------
*/
.select-industry-group {
    display: flex;
    .left-group {

    }
    .right-group {
        margin-left: 10px;
        background: $gray-f7;
        border: 1px solid $gray-e;
    }
}
.k-window-actions .k-button {
    min-width: 0;
    padding: 0;
    &:hover ,&:focus {
        background-color: transparent;
        border-color: transparent;
    }
}

