/*
 * ------------------------------
 * 팝업
 * ------------------------------
 */

 .layer-wrap {
     position: fixed;
     top: 0;
     left: 0; 
     right: 0;
     bottom: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }
.k-window {
    border-radius: 3px;
    padding: 0;
    // border-bottom: 1px solid $gray-c;
    background: $white;
    outline: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    z-index: 10002;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
.bp {
    .k-window-titlebar { //head
        display: flex;
        align-items: center;
        height: 60px;
        min-height: 60px;
        padding: 0 30px;
        background-color: $layer-blue;
        border-bottom: 1px solid gray;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        white-space: nowrap;
    
        color: $white;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -1.5px;
    }
    .k-window-content { //body
        padding: 30px;
        outline: 0;
        overflow: auto;
        position: relative;
        flex: 1 1 auto;
        background: $gray-f7;
    }
    .k-dialog-buttongroup { //foot
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px;
        border-top: 1px solid $gray-c;
        flex: 0 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
    } 
     .k-dialog {
        padding: 0;
        box-sizing: border-box;
        margin: 0 10px;
        max-height: calc(100% - 20px);
        border-radius: 10px;
    }
    .content-group {

    }
    .select-industry-box {
        display: flex;
        .left-group {

        }
        .right-group {
            background: $gray-f7;
            border: 1px solid $gray-e;
        }
    }
    .k-dialog-close {
        @include iconSvg($width: 20px, $height: 20px, $name: 'bp_icon_close', $size: contain);
        position: absolute;
        right: 22px;
        top: 14px;
        min-width: 0 !important;
        width: 30px;
        height: 30px !important;
        background-color: transparent;
        &:hover, &:focus {
            background-color: transparent;
        }

    }
}

