
/*
* ------------------------------
* window
* ------------------------------
*/
.select-industry-group {
    display: flex;
    .left-group {

    }
    .right-group {
        margin-left: 10px;
        background: $gray-f7;
        border: 1px solid $gray-e;
    }
}
.k-window-actions .k-button {
    min-width: 0;
    padding: 0;
    &:hover ,&:focus {
        background-color: transparent;
        border-color: transparent;
    }
}

