



.table-group + .table-group {
    margin-top: 30px;
}
.table-group {
    display: flex;
    flex-direction: column;
    &.half {
        flex-direction: row;
        > * {
            width: 50%;
            + * {
                margin-left: 20px;
            }
        }
    }
}
.table-set {
    flex: 1;
    // margin-top: 12px;
}
.text-center th,
.text-center td {
	text-align: center !important;
	&.text-right {
		text-align: right !important;
	}
	&.text-left {
		text-align: left !important;
	}
}


.table-guide {
    .list {
        margin-top: 8px;
        color: $gray-7;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: -0.65px;
    }
}
/*
* ------------------------------
* 
* ------------------------------
*/
table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
td .form-box, th .form-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table {
    width: 100%; 
    overflow: hidden;
    .table {
        border-top: 1px solid $gray-e4;
    }
    &.table-bg-box {
        display: flex;
        flex-direction: column;
        border: none;
        &.type1 {
            .cell {
                &:nth-of-type(1){
                    min-width: 36px;
                    max-width: 36px;
                }
                &:nth-of-type(2) {
                    
                }
                &:nth-of-type(3) {
                    min-width: 448px;
                    max-width: 448px;
                }
                &:nth-of-type(4) {
                    min-width: 230px;
                    max-width: 230px;
                }
                &:nth-of-type(5) {
                    min-width: 200px;
                    max-width: 200px;
                }
                &:nth-of-type(6) {
                    min-width: 126px;
                    max-width: 126px;
                }
            }
        }
        &.type2 {
            .cell {
                .bar {
                    text-align: center;
                }
                &:nth-of-type(1) {
                    // min-width: ;
                    // max-width: ;
                }
                &:nth-of-type(2) {
                    min-width: 190px;
                    max-width: 190px;
                }
                &:nth-of-type(3) {
                    min-width: 200px;
                    max-width: 200px;
                }
                &:nth-of-type(4) {
                    min-width: 160px;
                    max-width: 160px;
                }
                &:nth-of-type(5) {
                    min-width: 10px;
                    max-width: 10px;
                }
                &:nth-of-type(6) {
                    min-width: 160px;
                    max-width: 160px;
                }
                &:nth-of-type(7) {
                    min-width: 200px;
                    max-width: 200px;
                }
                &:nth-of-type(8) {
                    min-width: 170px;
                    max-width: 170px;
                }
            }
        }
        .head {
            .row {
                padding: 0px 20px;
            }
            .cell {
                @include font-size-sm;
                height: 26px;
                padding: 0px 10px;
                padding-bottom: 6px;
                background: $white;
                justify-content: center;
                color: $gray-5;
                font-weight: 500;
            }
        }
        .row {
            display: flex;
            + .row {
                margin-top: 10px;
            }
        }
        .cell {
            @include font-size-sm;
            flex: 1;
            display: flex;
            align-items: center;
            padding: 0 10px;
            > * {
                flex: 1;
            }
        }
        .body {
            .row {
                padding: 10px 20px;
                background-color: $gray-ef;
            }
       
            .td {
                border: none;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    table {
        width: calc(100% + 2px);
        margin: 0 -1px;
    }
    thead th {
        .h-checkbox {
            margin-left: auto;
            margin-right: auto;
        }
    }
    tbody {
        th, td { text-align: left; }
    }
    th, td {
        border: 1px solid $gray-e4;
        @include font-size-sm;
    }
    td {
        .form-group.col { 
            padding: 0;
            background: none;
            align-items: flex-start;
        }
    }
    th {
        padding: 0 3px;
        white-space: nowrap;
    }
    &.border-none {
        td {
            border-left: none;
            border-right: none;
        }
    }
}
.inner-column .table {
    border-top: 0;
    tr:last-child th, 
    tr:last-child td {
        border-bottom: 0;
    } 
}




.table-box {
    // > [class^="table"]+ [class^="table"] {
    //     margin-top: 10px;
    // }
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: $white;
    border: 1px solid $gray-e4;
   &.has-bar {
       padding: 20px;
       border: 1px solid $gray-c;
       border-left: 1px solid $gray-3;
       .sub-title {
           color: $layer-blue;
           
       }
   }
   .btn-box.bottom:only-child {
       margin-top: -10px;
   }
   + .table-box {
       border-top: 0;
   }
   &.justify-content-between {
       flex-direction: row;
   }
}

.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .btn-box.bottom {
        margin-top: 10px;
    }
}

