

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-group + .table-group {
    margin-top :30px;
}
.table-set {
    margin-top: 12px;
}
.table-content {
    table {
		// table-layout: fixed;
	}
    
}

.text-center th,
.text-center td {
	text-align: center !important;
	&.text-right {
		text-align: right !important;
	}
	&.text-left {
		text-align: left !important;
	}
}
td .form-box, th .form-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*
* ------------------------------
* 
* ------------------------------
*/



.table-bottom {
    padding: 15px 20px;
    background: $white;
    // border-top: 1px solid $inputDefault;
    border-bottom: 1px solid $inputDefault;
    box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.1);
}