

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-group + .table-group {
    margin-top: 30px;
}
.table-group {
    display: flex;
    flex-direction: column;
    &.half {
        flex-direction: row;
        > * {
            width: 50%;
            + * {
                margin-left: 20px;
            }
        }
    }
}
.table-set {
    flex: 1;
    // margin-top: 12px;
}
.table-content {
    table {
		// table-layout: fixed;
	}
    
}

.text-center th,
.text-center td {
	text-align: center !important;
	&.text-right {
		text-align: right !important;
	}
	&.text-left {
		text-align: left !important;
	}
}
td .form-box, th .form-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-guide {
    .list {
        margin-top: 8px;
        color: $gray-7;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: -0.65px;
    }
}
/*
* ------------------------------
* 
* ------------------------------
*/


.table {
    width: 100%; 
    overflow: hidden;
    table {
        width: calc(100% + 2px);
        margin: 0 -1px;
        table-layout: fixed;
    }
    thead th {
        .h-checkbox {
            margin-left: auto;
            margin-right: auto;
        }
    }
    tbody {
        th, td { text-align: left; }
    }
    th, td {
        border: 1px solid $gray-e4;
    }
    th {
        @include font-size-sm;
        padding: 0 5px;
        white-space: nowrap;
    }
    td {
        @include font-size-sm;
    }
    
}

.table-bottom {
    padding: 15px 20px;
    background: $white;
    // border-top: 1px solid $inputDefault;
    border-bottom: 1px solid $inputDefault;
    box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.1);
}


.table-box {
    > [class^="table"]+ [class^="table"] {
        margin-top: 10px;
    }
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: $white;
    border: 1px solid $gray-e;
    border-top: 2px solid $layer-blue;
   &.has-bar {
    //    margin-top: 10px;
       padding: 20px;
       border: 1px solid $gray-c;
       border-left: 1px solid $gray-3;
       .sub-title {
           color: $layer-blue;
           
       }
   }
}

