//************************************************************
//* Description of _colors.scss
//* @project : Hyosung B system
//* @category : SCSS
//* @date : 2021.07
//* @content : 컬러 설정
//* @author : bhlbest20@gmail.com
//************************************************************
@charset "utf-8";

$btn-light-border: #e0e5ec; //확인필요
$blue: #3064b8;

// Common
$gray-2: #222;
$gray-4: #444;
$gray-5: #555;
$gray-7: #777;
$gray-9: #999;
$gray-a: #aaa;
$gray-c: #ccc; 
$gray-e: #eee; 
$gray-e4: #e4e4e4;
$gray-f5: #f5f5f5;

// Common
$white: #fff;
$black: #000;
$lavender: #cfdef5;
$marine-blue: #002a70; 

//Button
$btn-light-blue-hover-bg: #99b6e2;
$btn-blue-border-hover-bg: #e4e9ef;

$green: #1e6c42;
$green-dark: #0d5a30;

// Background
$bg: #f5f5f5;

// State
$state: #ffe282;
$accent: #48c3e6;
$error: #f14747;

// Main
$main: #0e4194;
$main_sub: #05146e;

// Input
$inputDefault: #ccc;

// Table
$tableBG1: #eff2f7;
$tableBG2: #ededed;
$tableLine: #e4e4e4;

// Layout
$lnbBG: #f4f6f9;
$lnbLine: #ddd;
$searchLine: #eee;



