//************************************************************
//* Description of _colors.scss
//* @project : Hyosung B system
//* @category : SCSS
//* @date : 2021.07
//* @content : 컬러 설정
//* @author : bhlbest20@gmail.com
//************************************************************
@charset "utf-8";

// Common
$white: #fff;
$black: #000;

// Background
$BG: #f5f5f5;

// State
$State: #ffe282;
$Accent: #48c3e6;

// Main
$Main: #0e4194;
$Main_sub: #05146e;

// Input
$inputDefault: #ccc;

// Table
$TableBG1: #eff2f7;
$TableBG2: #ededed;
$TableLine: #e4e4e4;

// Layout
$lnbBG: #f4f6f9;
$lnbLine: #ddd;
$SearchLine: #eee;
