//************************************************************
//* Description of _global.scss
//* @project : Hyosung B system
//* @category : SCSS
//* @date : 2021.07
//* @content : 공통 레이아웃 설정
//* @author : bhlbest20@gmail.com
//************************************************************
// @charset "utf-8";

// Common

.text-blue {
	color: $bc-blue;
}
.point {
	color: $bc-blue;
} 
.notice-title {
	color: $bc-blue;
}
/* 
* ------------------------------
* badge
* ------------------------------
*/
.badge {
	@include font-size-badge;
    &.square {
		@include font-size-menu;
        .label {
			color: #4d6595;
        }
        .desc {
			color: $gray-2;
        }
    }
    &.gray {
        background-color: $gray-f5;
    }
}


/*
* ------------------------------
* Title
* ------------------------------
*/
.main-title {
	// @include font-size-xl;
}
.sub-title {
	// @include font-size-lg;
    &.md {
		// @include font-size-lg;
	}
}

.alert-title {
	// @include font-size-menu;
    &.sm {
		@include bc-font-size-xsm;
    }
}
/*
* ------------------------------
* Title Group
* ------------------------------
*/
.title-box {
    // &.sm {
    //     min-height: 26px; 
    //     margin: 20px 0 6px;
    //     .sub-title {
    //         @include bc-font-size-xsm;
    //     }
    //     .noti {
    //         @include bc-font-size-xsm;
    //     }
    // }
    .sub-title {
        &.blue {
            color: #3b6ac5;
        }
    }
    .label {
        @include bc-font-size-xsm;
        font-weight: 500;
    }
    .badge {
        height: 18px;
        margin-left: 6px;
        padding: 0 6px;
        font-size: 12px;
        line-height: 17px;
        font-weight: 400;
    }
    &.notice {
		padding-bottom: 10px;
		border-bottom: 1px solid $bc-table-th;
		.sub-title {
			@include bc-font-size-md;
		}
		.date {
			@include bc-font-size-xsm;
			color: $gray-9;
		}
	}
	&.xsm {
		margin-top: 12px;
		.sub-title {
            @include bc-font-size-default;
            line-height: 20px;
        }
	}
    &.sm {
        min-height: 26px; 
        height: 26px;
        margin: 20px 0 6px;
        align-items: center;
        .sub-title {
            @include bc-font-size-xsm;
        }
        .noti {
            font-size: 12px;
        }
        .badge.square {
			height: 26px;
		}
    }
    &.sm2 {
        min-height: 20px; 
        margin-top: 16px;
        align-items: center;
        .sub-title {
            @include bc-font-size-sm2;
        }
    }
    .noti {
		&.sm {
			@include bc-font-size-xsm;
			// line-height: 18px;
		}
	}
}

/*
* ------------------------------
* List 
* ------------------------------
*/
.list-wrap {
	padding: 16px;
	background: $bc-table-th-bg;
	border-top: 1px solid $gray-2;
}

.list-set {
    display: flex;
    + .list-set {
        margin-top: 10px;
    }
    &.answer {
        .list-title {
            color: $bc-table-th;
            margin-right: 10px;
        }
        .list-box {
            &::before {
                left: -6px;
                width: 0px;
                height: 0px;
                border-top: 4px solid transparent;
                border-right: 6px solid $white;
                border-left: 4px solid none;
                border-bottom: 4px solid transparent;
            }
        }
        .badge.count {
            background-color: $bc-table-th;
            color: $white;
        }
    }
    &.receipt {
        .list-title {
            color: $bc-blue;
            order: 2;
        }
        .list-box {
            margin-right: 10px;
            order: 1;
            &::before {
                right: -6px;
                width: 0px;
                height: 0px;
                border-top: 4px solid transparent;
                border-left: 6px solid $white;
                border-right: 4px solid none;
                border-bottom: 4px solid transparent;
            }
        }
        .badge.count {
            background-color: $bc-blue;
            color: $white;
        }
    }
    .list-title {
        @include bc-font-size-xsm;
        color: $gray-7;
        font-weight: 500;
       
    }
    .list-box {
        position: relative;
        flex: 1;
        &::before {
            content: '';
            position: absolute;
            top: 10px;
        }
    }
}
.list-box {
	position: relative;
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
    
    &.gray-box {
        padding: 20px;
        background: $gray-f5;
        border: 1px solid $gray-e4;
        .label {
			color: $gray-7;
		}
        .desc {
			color: $gray-2;
		}
    }
    &.pop {
        &.row {
            display: flex;
            flex-direction: row;
        }
        // padding: 20px;
        background: $gray-f5;
		flex-direction: column;
        border-radius: 3px;
        .list-set {
            display: flex;
            flex-direction: column;
            + .list-set {
                margin-top: 0;
                margin-left: 30px;
            }
            &.sm {
                width: 258px;
            }
        }
		.label {
            justify-content: flex-start;
			color: $gray-7;
            &.sm {
                min-width: 58px;
            }
            &.md {
                min-width: 70px;
            }
		}
		.desc {
            display: flex;
            justify-content: flex-start;
            width: 100%;
			color: $gray-2;
		}
		.badge {
			position: absolute;
			top: 20px;
			right: 20px;
			height: 20px;
		}
        .k-button.bottom {
            position: absolute;
            bottom: 20px; 
            right: 0;
        }
	}
    &.half {
        > * {
            width: 50%;
        }
    }
    .form-label {
		@include bc-font-size-xsm;
        color: $gray-5;
    }
    &.has-bar {
        padding: 26px 20px;
        > * { 
            position: relative;
            justify-content: center;
            + *::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                width: 1px;
                height: 21px;
                margin-top: -10px;
                background: $gray-d;
            }
        }
        .label, .form-label {
            @include bc-font-size-xsm;
            color: $gray-2;
            font-weight: 500;
        }
        .desc {
            @include bc-font-size-xsm;
        }
        .unit {
            margin-left: 2px;
            color: $gray-7;
        }
    }
	&.history {
		flex-direction: column;
		padding: 12px 20px;
		background: $white;
        border-radius: 3px;
		.label {
			color: $bc-table-th;
            font-weight: 500;
		}
		.desc {
			color: $gray-2;
		}
		.badge {
			position: absolute;
			top: 12px;
			right: 20px;
			height: 17px;
            font-size: 12px;
            line-height: 17px;
		}
		+ .list-box {
			margin-top: 8px;
		}
        &.row {
            flex-direction: row;
            .desc {
                flex-direction: column;
            }
            .label.has-bar::after {
                top: 6px;
                margin-top: 0;
            }
            .list+.list {
                margin-left: 30px;
            }
        }
	}
    
    .list { display: flex; }
    .label, .form-label {
        @include bc-font-size-xsm;
        position: relative;
        display: inline-flex;
        justify-content: center;
		margin-right: 8px;
		padding-right: 8px;
        font-weight: 500;
        &.has-bar::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
			height: 14px;
			margin-top: -7px;
			background: $gray-d;
        }
    }
    .desc {
        @include font-size-sm;
    }
}

/*
* ------------------------------
*  상단 라인 박스 
* ------------------------------
*/
.line-box {
	flex: 1;
	padding: 30px 20px;
	border: 1px solid $gray-e4;
	border-top: 1px solid $gray-5;
	&.sm {
		padding: 15px 12px;
	}
	.title-box {
		padding-bottom: 6px;
		border-bottom: 1px solid $gray-c;
	}
}

/*
* ------------------------------
*  숫자 카운트
* ------------------------------
*/

.amount-set {
	color: $gray-9;
	font-size: 13px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -0.65px;
    .amount {
		&.current {
			color: $bc-blue;
			font-weight: bold;
		}
	}
}


/*
* ------------------------------
* File upload
* ------------------------------
*/
.filebox {
    .label {
		@include bc-font-size-xsm;
    }
}

/*
* ------------------------------
* File upload BP type
* ------------------------------
*/

.text-link {
	@include bc-font-size-xsm;
	margin-right: 10px;
	color: $bc-blue;
	text-decoration: underline;
}

.upload-guide {
	.list {
		color: $gray-7;
		font-size: 13px;
		letter-spacing: -0.65px;
	}
}
.upload-title {
	font-size: 12px;
	letter-spacing: -0.6px;
    color: $gray-7;
}
.upload-box {
	padding: 20px 40px;
	
}
.upload {
    padding-right: 73px;
	&.type2 {
		padding-right: 84px;
		.k-upload {
			.k-upload-button {
				max-width: 78px;
				min-width: 78px;
				right: -84px;
			}
		}
	}
	&.md {
		// max-width: 330px;
		// min-width: 330px;
	}
	&.lg {
		// max-width: 400px;
		// min-width: 400px;
	}
    +  .btn {
        margin-left: 6px;
    } 
    .k-upload {
        height: 26px;
       
        .k-upload-files {
            .k-file {
                .k-file-name-size-wrapper{
                    margin-left: 10px;
                    .k-file-name{
                        font-size: 13px;
                    }
                }
				.k-upload-action,
				.k-upload-action:hover,
				.k-upload-action:focus {
					min-width: 24px;
				}
            }
        }
        .k-upload-button {
            max-width: 65px;
            min-width: 65px;
            right: -73px;
            order: 2;
            span {
                margin: 0;
                font-size: 13px;
                line-height: 19px;
            }
        }
    }
    
}
.upload-guide {
    margin: 10px 0 0 0;
    .list {
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
    }
}

.t-file {
	border-radius: 3px;
    background-color: $gray-f5;
	+ .t-file {
		margin-top: 8px;
	}
	.file-title {
		@include bc-font-size-xsm;
        min-width: 170px;
        padding: 0 6px;
		
	}
	.file-desc {
		display: flex;
		align-items: center;
		padding: 0 10px;
	}
	.text-link {
		@include bc-font-size-xsm;
		color: $bc-blue;
	}
	.file-date {
		color: $gray-7;
	}
}

/*
* ------------------------------
* Mobile Group
* ------------------------------
*/
.mobile-wrap {
    .mobile-body {
        .contents {
            .h-input, .k-input {
				@include font-size-menu;
                &::placeholder {
					@include font-size-menu;
					font-weight: 500 !important;
				}
            }
        }
    }
    .reserve-title {
		@include bc-font-size-xsm;
        line-height: 19px;
	}
}

.tip-box {
	.tip-title {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 240px;
		color: $bc-blue;
        font-size: 14px;
        letter-spacing: -0.7px;
		font-weight: 500;
		.h-ico {
			margin-right: 6px;
		}
	}
	.tip-desc {
		.list {
			@include bc-font-size-xsm;
			color: $gray-2;
		}
	}
}


.tree-box {
    border: 1px solid $gray-e4;
}
.detail-title {
    @include bc-font-size-xsm;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    text-align: left;
}
.detail-box {
    height: 100px;
    border: 1px solid $gray-e4;
    .list {
        @include bc-font-size-xsm;
        padding: 4px 0;
    }
}

 /*
* ------------------------------
* question
* ------------------------------
*/
.question-set {
	+ .question-set {
		margin-top: 17px;
	}
	.question {
		@include bc-font-size-xsm;
		font-weight: 500;
		.no {
			@include bc-font-size-sm;
			margin-right: 6px;
			font-weight: bold;
		}
	}
	.answer {
		padding-top: 4px;
	}
	.list {
		display: flex;
		align-items: center;
		min-height: 26px;
		margin: 3px 0;
		.form-set {
			flex: 1;
		}
	}
}
/*
* ------------------------------
* tab control
* ------------------------------
*/

.tab-control {
    &.box {
		.tabpanel {
            margin-top: 0px;
        }
    }
}

/*
* ------------------------------
* box style
* ------------------------------
*/
.border-box {
    &.type2 {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid $gray-e;
        .k-toolbar.k-grid-toolbar {
            background-color: $white;
        }
    }
}


 /*
* ------------------------------
* question
* ------------------------------
*/
.bg-box {
	margin-top: 20px;
	padding: 16px;
	&.gray {
		background-color: $gray-f5;
		border: 1px solid $gray-c;
	}
	&.sm {
		min-height: 120px;
	}
	.title {
		@include bc-font-size-default;
		color: $gray-2;
		font-weight: 500;
		line-height: 20px;
	}
	.desc {
		@include bc-font-size-xsm;
		color: $gray-a;
	}
}

/*
* ------------------------------
* banner
* ------------------------------
*/


.info-banner {
	// flex-direction: column;
	margin-bottom: 4px;
	padding: 18px 20px;
	background: $bc-main-sub;
	&.request {
        justify-content: space-between;
        align-items: center;
		.tit {
			@include bc-font-size-md;
			color: $white;
		}
		.badge {
			@include bc-font-size-xs;
			display: inline-block;
			position: relative;
			height: 18px;
			padding: 0 6px;
			line-height: 17px;
		}
        .date-set {
            display: flex;
            align-items: center;
            .label {
                @include bc-font-size-xsm;
                position: relative;
                padding: 0 6px;
                color: $bc-light-blue;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -8px;
                    width: 1px;
                    height: 16px;
                    background-color: $bc-header-bar;
                }
            }
            .desc {
                @include bc-font-size-xsm;
                padding-left: 6px;
                color: $bc-light-blue;
                font-weight: 400;
            }
        }
	}
}

/*
* ------------------------------
* 공지사항
* ------------------------------
*/

.notice-content {
    @include bc-font-size-default;
    padding: 16px 0 20px 0;
    color: $gray-5;
}