//************************************************************
//* Description of _global.scss
//* @project : Hyosung B system
//* @category : SCSS
//* @date : 2021.07
//* @content : 공통 레이아웃 설정
//* @author : bhlbest20@gmail.com
//************************************************************
// @charset "utf-8";

// Common
* {
	box-sizing: border-box;
}

html,
body {
	font-family: $fontFamily;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	// overflow: hidden;
	background-color: $bg;
}
ul,
li,
ol {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #222;
}
div,
p,
span,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
}
button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
button,
input,
textarea {
	outline: none;
	margin: 0;
	padding: 0;
	border: none;
}


ul, li, ol {
    padding: 0; margin: 0;
}
li  {
    list-style: none;
}

a {
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/* Icon */
.icon {
	display: inline-flex;
	flex: 0 0 auto;
	vertical-align: middle;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;

	// &.icon-logo {
	// 	@include icon(144px, 18px, logo);
	// }
}
.bp > * {
	font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif !important;

}

.bg-white {
	.k-grid-toolbar {
		background-color: $white !important;
	}
	background-color: $white !important;
}


/*
* ------------------------------
* 여백
* ------------------------------
*/
.ml-4 {
	margin-left: 4px !important;
}
.ml-8 {
	margin-left: 8px !important;
}
.mt-4 {
	margin-top: 4px !important;
}
.mt-10 {
	margin-top: 10px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mt-30 {
	margin-top: 30px !important;
}
.my-0 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.mx-0 {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.mt-0 { margin-top: 0px !important; }
.mb-0 { margin-bottom: 0px !important; }
.mb-10 { margin-bottom: 10px !important; }
.ml-20 { margin-left: 20px !important; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-center > * { justify-content: center !important; margin-left: auto !important; margin-right: auto !important; }

/*
* ------------------------------
* badge
* ------------------------------
*/
.k-listbox .badge {
	width: 62px;
	height: 20px;
	white-space: nowrap
}
.badge {
	@include font-size-badge;
	display: flex;
	align-items: center;
	padding: 0 8px;
	border-radius: 11px;
	&.pink {
		background-color: $badge-pink-bg;
		border: 1px solid $badge-pink-border;
		color: $badge-pink;
	}
	&.blue {
		background-color: $badge-blue-bg;
		border: 1px solid $badge-blue-border;
		color: $badge-blue;
	}
	&.green {
		background-color: $badge-green-bg;
		border: 1px solid $badge-green-border;
		color: $badge-green;
	}
	&.yellow {
		background-color: $badge-yellow-bg;
		border: 1px solid $badge-yellow-border;
		color: $badge-yellow;
	}
}


/*
* ------------------------------
* table divide
* ------------------------------
*/

.divide {
	padding: 20px 0;
	+ .divide {
		border-top: 1px solid $gray-e4;
	}
	.title-box.md {
		margin-bottom: 10px;
	}
	+ .btn-box.bottom {
		margin-top: -10px;
	}
}
.table-group.divide-thick {
	position: relative;
	+ .table-group.divide-thick {
		margin-top: 20px;
		&::before {
			content: '';
			display: block;
			height: 8px;
			margin: 0 -30px;
			background: $gray-d;
		}
	}
}

td .divide {
	padding: 10px 0;
	.list + .list {
		margin-top: 10px;
	}
	&:first-child {
		margin-top: -6px;
	}
	&:last-child {
		margin-bottom: -6px;
	}
	+ .divide {
		border-top: 1px solid $gray-e4;
	}
}
/*
* ------------------------------
* Title
* ------------------------------
*/

.main-title {
	@include font-size-xl;
	color: $gray-2;
	font-weight: bold;
}
.sub-title {
	@include font-size-lg;
	display: flex;
	align-items: center;
	color: $gray-2;
	font-weight: 500;
	&.md {
		@include font-size-lg;
	}
	&.dot {
		position: relative;
		padding-left: 8px;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			margin-top: -2px;
			background: $gray-2;
		}
	}
}
/*
* ------------------------------
* Title Group
* ------------------------------
*/
.title-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.left-group,
	.right-group {
		display: flex;
		align-items: center;
	}
	.btn-box {
		margin-top: 0;
	}
	&.lg {
		height: 32px;
		margin: 0 0 20px;
	}
	&.md {
		min-height: 28px;
		margin: 20px 0 4px;
        .sub-title {
            @include font-size-lg;
            min-height: 30px;
            font-weight: 500;
        }
        .right-group, .btn-box {
            margin-bottom: 6px;
        }
	}
	&.xsm { //팝업일 경우
		margin: 12px 0 6px;
		align-items: flex-end;
        .sub-title {
            @include font-size-menu;
			line-height: 21px;
        }
        .noti {
            @include font-size-sm;
        }
	}
	&.sm {
		min-height: 28px;
		margin: 12px 0 8px;
        .sub-title {
            @include font-size-sm;
        }
        .noti {
            @include font-size-sm;
        }
	}
	&.xs {
		min-height: 20px;
		margin: 6px 0 8px;
        .sub-title {
            @include font-size-sm;
        }
        .noti {
            @include font-size-sm;
        }
	}
    .noti {
		&.sm {
			@include font-size-sm;
			// line-height: 18px;
		}
		&.red {
			color: $error;
		}
	}
}



/*
* ------------------------------
*  리스트
* ------------------------------
*/
.list-group {
	display: flex;
	align-items: center;
	&.half {
		> * { flex: 1; }
		> * + * {
			margin-left: 10px;
		}
	}
}


/*
* ------------------------------
*  숫자 카운트
* ------------------------------
*/
.amount-set {
	color: $gray-a;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	.amount {
		&.current {
			color: $main;
			font-weight: bold;
		}
	}
	.dash {
		margin: 0 1px;
	}
	.unit {
		margin-left: 1px;
	}
}

/*
* ------------------------------
* BreadCrumb
* ------------------------------
*/
.breadcrumb {
	position: relative;
	display: flex;
	align-items: center;
	&::before {
		display: none;
	}
	.breadcrumb-item {
		@include font-size-sm;
		display: flex;
		align-items: center;
		color: $gray-9;
		&.active {
			color: $gray-4;
		}
		+ .breadcrumb-item::before {
			content: ">";
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 4px;
			color: $gray-9;
			font-family: "roboto";
		}
	}
}

/*
* ------------------------------
* List 
* ------------------------------
*/
.list-group {
	display: flex;
}


/*
* ------------------------------
* badge
* ------------------------------
*/


/*
* ------------------------------
* File upload
* ------------------------------
*/
.filebox {
	padding: 20px;
	background-color: $gray-f5;
	.label {
		@include font-size-sm;
		margin-right: 0;
		white-space: nowrap;
	}
	.input-set {
		.k-button {
			position: absolute;
			top: 0;
			right: 5px;
			width: 30px;
			height: 28px;
		}
	}
	input[type="file"] {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip:rect(0,0,0,0);
		border: 0;
	}
	.h-input:disabled, .h-input:disabled:focus {
		background-color: $white;
		color: $gray-a;
	}
}


/*
* ------------------------------
* tab control
* ------------------------------
*/

.tab-control {
	display: flex;
    flex-direction: column;
	&.box {
		.tabpanel {
			flex: 1 1 100%;
			margin-top: 10px;
			padding: 4px 30px 30px;
			background: $white;
		}
	}
}
.tab-menu {
	.btn-box {
		position: absolute;
		right: 0;
		bottom: -1px;
		margin-top: 0;
		padding-left: 8px;
		background: $gray-f5;
	}
}


/*
* ------------------------------
* yearmonth box
* ------------------------------
*/
.yearmonth-box {
	display: flex;
    align-items: center;
    justify-content: space-between;
	min-height: 28px;
	margin: 0 0 8px 0;
}
.year-box {
	display: flex;
	margin-left: -6px;
	.k-button.year {
		@include font-size-lg;
		padding: 0 3px;
		color: $gray-2;
		font-weight: 500;
	}
}
