//************************************************************
//* Description of _global.scss
//* @project : Hyosung B system
//* @category : SCSS
//* @date : 2021.07
//* @content : 공통 레이아웃 설정
//* @author : bhlbest20@gmail.com
//************************************************************
// @charset "utf-8";

// Common
* {
	box-sizing: border-box;
}

html,
body {
	font-family: $fontFamily;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	// overflow: hidden;
	background-color: $bg;
}
ul,
li,
ol {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #222;
}
div,
p,
span,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
}
button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
button,
input,
textarea {
	outline: none;
	margin: 0;
	padding: 0;
	border: none;
}


ul, li, ol {
    padding: 0; margin: 0;
}
li  {
    list-style: none;
}

a {
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/* Icon */
.icon {
	display: inline-flex;
	flex: 0 0 auto;
	vertical-align: middle;
	text-indent: -9999px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;

	// &.icon-logo {
	// 	@include icon(144px, 18px, logo);
	// }
}
.bp > * {
	font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif !important;

}


/*
* ------------------------------
* 여백
* ------------------------------
*/
.ml-4 {
	margin-left: 4px !important;
}
.ml-8 {
	margin-left: 8px !important;
}
.mt-4 {
	margin-top: 4px !important;
}
.mt-8 {
	margin-top: 8px !important;
}
.mt-10 {
	margin-top: 10px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mt-30 {
	margin-top: 30px !important;
}
.my-0 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.mx-0 {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.pt-0 { padding-top: 0px !important; }
.mt-0 { margin-top: 0px !important; }
.mb-0 { margin-bottom: 0px !important; }
.mb-10 { margin-bottom: 10px !important; }
.ml-20 { margin-left: 20px !important; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-center > * { justify-content: center !important; margin-left: auto !important; margin-right: auto !important; }
.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.w100 {
	width: 100% !important;
}
.text-full {
	flex: 1;
}
.text-blue {
	color: $main;
}
.point {
	color: $main;
	font-weight: bold;
} 
.important {
	color: $error !important;
	font-weight: 500 !important;
} 
.notice-title {
	color: $main;
	font-weight: 500;
}
/* 
* ------------------------------
* badge
* ------------------------------
*/
.k-listbox .badge {
	width: 62px;
	height: 20px;
	white-space: nowrap
}
td .badge {
	display: inline-flex;
	height: 20px;
	white-space: nowrap
}
.badge {
	@include font-size-badge;
	display: flex;
	align-items: center;
	padding: 0 8px;
	border-radius: 11px;
	&.pink {
		background-color: $badge-pink-bg;
		border: 1px solid $badge-pink-border;
		color: $badge-pink;
	}
	&.blue {
		background-color: $badge-blue-bg;
		border: 1px solid $badge-blue-border;
		color: $badge-blue;
	}
	&.green {
		background-color: $badge-green-bg;
		border: 1px solid $badge-green-border;
		color: $badge-green;
	}
	&.yellow {
		background-color: $badge-yellow-bg;
		border: 1px solid $badge-yellow-border;
		color: $badge-yellow;
	}
	&.gray {
		background-color: $gray-eb;
		border: 1px solid $gray-d5;
		color: $gray-7;
	}
	&.square {
		@include font-size-menu;
		display: inline-flex;
		height: 24px;
		border-radius: 3px;
		> * + * {
			margin-left: 8px;
		}
		&.gray {
			border: 1px solid $gray-ef;
			background: $gray-ef;
			color: $gray-5;
			font-weight: 500;
		}
		.label {
			position: relative;
			padding-right: 8px;
			color: $main;
			&.has-bar {
				&::after {
					content: '';
					width: 1px;
					height: 12px;
					position: absolute;
					top: 50%;
					right: 0;
					margin-top: -6px;
					background: $gray-c;

				}
			}
		}
		.desc {
			color: $gray-2;
			+ .label {
				margin-left: 20px;
			}
		}
	}
	&.count {
		width: 26px; 
		height: 26px; 
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}


/*
* ------------------------------
* table divide
* ------------------------------
*/

.divide {
	padding: 20px 0;
	+ .divide {
		border-top: 1px solid $gray-e4;
	}
	.title-box.md {
		margin-bottom: 10px;
	}
	+ .btn-box.bottom {
		margin-top: -10px;
	}
}
.table-group.divide-thick {
	position: relative;
	+ .table-group.divide-thick {
		margin-top: 20px;
		&::before {
			content: '';
			display: block;
			height: 8px;
			margin: 0 -30px;
			background: $gray-d;
		}
	}
}

td .divide {
	padding: 10px 0;
	.list + .list {
		margin-top: 10px;
	}
	&:first-child {
		margin-top: -6px;
	}
	&:last-child {
		margin-bottom: -6px;
	}
	+ .divide {
		border-top: 1px solid $gray-e4;
	}
}
/*
* ------------------------------
* Title
* ------------------------------
*/

.main-title {
	@include font-size-xl;
	color: $gray-2;
	font-weight: bold;
}
.sub-title {
	@include font-size-lg;
	display: flex;
	align-items: center;
	color: $gray-2;
	font-weight: 500;
	&.md {
		@include font-size-lg;
	}
	&.dot {
		position: relative;
		padding-left: 8px;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			margin-top: -2px;
			background: $gray-2;
		}
	}
}
.alert-title {
	@include font-size-menu;
	display: flex;
	justify-content: center;
	margin: 30px 0 10px;
	line-height: 20px;
	font-weight: 500;
	&.sm {
		@include font-size-sm;
		margin: 0 0 10px;
		font-weight: 400;
		line-height: 20px;
	}
}
/*
* ------------------------------
* Title Group
* ------------------------------
*/
.contents-header {
	margin-bottom: 20px;
}
.title-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.left-group,
	.right-group {
		display: flex;
		align-items: center;
	}
	.btn-box {
		margin-top: 0;
	}
	&.lg {
		height: 32px;
		// margin: 0 0 20px;
	}
	&.md {
		min-height: 28px;
		margin: 20px 0 4px;
        .sub-title {
            @include font-size-lg;
            min-height: 30px;
            font-weight: 500;
        }
        // .right-group, .btn-box {
        //     margin-bottom: 6px;
        // }
        
		+ .title-box.xsm { //팝업
			margin-top: 8px;
		}
		.badge.square {
			height: 28px;
		}
	}
	&.xsm { //팝업일 경우
		margin: 20px 0 6px;
		align-items: flex-end;
        .sub-title {
            @include font-size-menu;
			line-height: 21px;
        }
        .noti {
            @include font-size-sm;
        }
		+ .title-box.sm {
			margin-top: 0;
		}
	}
	&.sm {
		min-height: 28px;
		margin: 12px 0 8px;
        .sub-title {
            @include font-size-sm;
        }
        .noti {
            @include font-size-sm;
        }
	}
	&.xs {
		min-height: 20px;
		margin: 6px 0 8px;
        .sub-title {
            @include font-size-sm;
        }
        .noti {
            @include font-size-sm;
        }
	}
    .noti {
		&.sm {
			@include font-size-sm;
			// line-height: 18px;
		}
		&.red {
			color: $error;
		}
	}
}



/*
* ------------------------------
*  리스트
* ------------------------------
*/
.list-group {
	display: flex;
	align-items: center;
	&.half {
		> * { flex: 1; }
		> * + * {
			margin-left: 10px;
		}
	}
}


/*
* ------------------------------
*  숫자 카운트
* ------------------------------
*/
.amount-set {
	color: $gray-a;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	.amount {
		&.current {
			color: $main;
			font-weight: bold;
		}
	}
	.dash {
		margin: 0 1px;
	}
	.unit {
		margin-left: 1px;
	}
}

/*
* ------------------------------
* BreadCrumb
* ------------------------------
*/
.breadcrumb {
	position: relative;
	display: flex;
	align-items: center;
	&::before {
		display: none;
	}
	.breadcrumb-item {
		@include font-size-sm;
		display: flex;
		align-items: center;
		color: $gray-9;
		&.active {
			color: $gray-4;
		}
		+ .breadcrumb-item::before {
			content: ">";
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 4px;
			color: $gray-9;
			font-family: "roboto";
		}
	}
}

/*
* ------------------------------
* List 
* ------------------------------
*/
.list-group {
	display: flex;
}


/*
* ------------------------------
* badge
* ------------------------------
*/


/*
* ------------------------------
* File upload
* ------------------------------
*/
.filebox {
	padding: 20px;
	background-color: $gray-f5;
	.label {
		@include font-size-sm;
		margin-right: 0;
		white-space: nowrap;
	}
	.input-set {
		.k-button {
			position: absolute;
			top: 0;
			right: 5px;
			width: 30px;
			height: 28px;
		}
	}
	input[type="file"] {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip:rect(0,0,0,0);
		border: 0;
	}
	.h-input:disabled, .h-input:disabled:focus {
		background-color: $white;
		color: $gray-a;
	}
}


/*
* ------------------------------
* tab control
* ------------------------------
*/

.tab-control {
	display: flex;
    flex-direction: column;
	&.box {
		.tabpanel {
			flex: 1 1 100%;
			margin-top: 10px;
			padding: 4px 30px 30px;
			background: $white;
			border: 1px solid $gray-e4;
		}
	}
	&.border {
		.tabpanel {
			margin-top: -1px;
			padding: 20px;
			background-color: $white;
			border: 1px solid $gray-e4;
			&.no-line {
				padding: 20px 0 0 0; border: none;
			}
		}
		&.search {
			.tabpanel {
				border: none;
				padding: 0;
				.search-control + .table-set {
					max-height: calc(100% - 78px);
				}
			}
		}
	}
	
}
.tab-style.Asystem {
	.k-tabstrip-items {
		height: 40px;
		border-bottom: 0;
		.k-item {
			height: 40px;
			z-index: 11;
			font-size: 16px;
			line-height: 30px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 200px;
			margin-right: 2px;
			border-width: 2px 2px 2px 2px;
			border-bottom-color: transparent;
			border-top-color: #f5f5f5;
			border-left-color: #f5f5f5;
			border-right-color: #f5f5f5;
			border-style: solid;
			border-radius: 3px 3px 0 0;
			color: #999999;
		}
		.k-link {
			padding-bottom: 0;
			font-weight: 400;
		}
		.k-item.k-state-active, 
		.k-item.k-state-selected {
			height: 42px;
			padding-bottom: 2px;
			background: #fff;
			border-top-color: #6039b9;
			border-left-color: #6039b9;
			border-right-color: #6039b9;
			border-bottom-color: #fff;
			color: #6039b9;
			font-weight: 500;
			z-index: 100;
		
		}
		.k-item.k-state-disabled {
			color: $gray-a;
		}
	}
	.tabpanel {
		// margin-top: -2px;
		border-top: 2px solid #6039b9;
		padding: 20px;
		background-color: $white;
		z-index: 1;
	}
}

.tab-menu {
	.btn-box {
		position: absolute;
		right: 0;
		bottom: -1px;
		margin-top: 0;
		padding-left: 8px;
		background: $gray-f5;
	}
}


/*
* ------------------------------
* yearmonth box
* ------------------------------
*/
.yearmonth-box {
	display: flex;
    align-items: center;
    justify-content: space-between;
	min-height: 28px;
	margin: 0 0 8px 0;
}
.year-box {
	display: flex;
	margin-left: -6px;
	.k-button.year {
		@include font-size-lg;
		padding: 0 3px;
		color: $gray-2;
		font-weight: 500;
	}
}


/*
* ------------------------------
* box style
* ------------------------------
*/
.border-box {
	padding: 4px 30px 30px;
	background: $white;
	border: 1px solid $gray-e4;
}


.list-info {
	@include font-size-sm;
	color: $gray-5;
	.h-input {
		display: inline-block;
	}
	> * {
		margin-right: 8px;
	}
}

/*
* ------------------------------
* banner
* ------------------------------
*/

.status-banner {
	display: flex;
	&.contract {
		margin-bottom: 8px;
		.list {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			flex-direction: column;
			flex: 1;
			padding: 10px 20px;
			background: $white;
			border: 1px solid $gray-e4;
			+ .list {
				margin-left: 8px;
			}
		}
		.tit {
			@include font-size-sm;
			line-height: 20px;
			order: 2;
			font-weight: 400;
			color: $gray-6;
			white-space: nowrap;
		}
		.count {
			@include font-size-count;
			line-height: 36px;
			order: 1;
			color: $gray-2; 
			font-weight: bold;
		}
	}
}

.info-banner {
	display: flex;
	position: relative;
	&.company {
		flex-direction: column;
		margin-bottom: 4px;
		padding: 20px;
		background: $main_sub;
		.tit {
			@include font-size-badge;
			color: $accent;
			font-weight: 500;
		}
		.desc {
			@include font-size-lg;
			margin-top: 4px;
			color: $white;
			line-height: 19px;
			font-weight: 500;
		}
		.badge {
			position: absolute;
			top: 20px; 
			right: 20px;
			height: 20px;
		}
	}
}


/************************************************************
**  file tree area
************************************************************/

.tree-box {
	height: 180px;
	border: 1px solid $gray-c;
	border-top: 1px solid $gray-2;
}
.detail-title {
	@include font-size-sm;
	height: 36px;
	background: $table-th;
	color: $gray-5;
	line-height: 36px;
	text-align: center;
	font-weight: 500;
}
.detail-box {
	height: 120px;
	padding: 0 10px;
	border: 1px solid $gray-c;
	overflow: auto;
	.list {
		@include font-size-sm;
		padding: 8px 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		+ .list {
			border-top: 1px solid $gray-e4;
		}
	}
}
/************************************************************
**  file upload
************************************************************/
.k-upload{position:relative}.k-dropzone .k-dropzone-hint,.k-upload-button{vertical-align:middle}.k-dropzone,.k-file{position:relative}.k-dropzone{border-style:solid;border-width:0;padding:.8em;background-color:transparent}.k-dropzone .k-dropzone-hint{margin-left:.6em}.k-dropzone-active .k-dropzone-hint{display:inline-block}.k-dropzone-active .k-upload-status{display:none}.k-upload-button{position:relative;overflow:hidden;direction:ltr}.k-upload .k-upload-button{min-width:7.167em;margin-right:1.6em}.k-upload-button input{position:absolute;bottom:0;right:0;z-index:1;font:170px monospace!important;opacity:0;margin:0;padding:0;cursor:pointer}.k-upload-files{border-style:solid;border-width:1px 0 0}.k-upload-files .k-button{padding:0}.k-upload-status .k-i-warning{display:none}.k-upload-status-total .k-icon{display:inline-block;margin-right:4px;vertical-align:text-bottom}.k-upload-files~.k-clear-selected,.k-upload-files~.k-upload-selected{margin-top:-5px}.k-upload .k-fail{background-position:-161px -111px}.k-file{border-style:solid;border-width:0 0 1px;padding:.65em 1em calc(.65em + 2px) 1em;white-space:nowrap}.k-file .k-upload-action{background:0 0;border-width:0;box-shadow:none;margin-right:3px}.k-file:last-child{border-bottom-width:0}.k-file .k-icon{display:inline-block;position:relative}.k-upload-files .k-file{display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start;position:relative}.k-file-extension-wrapper,.k-file-group-wrapper,.k-file-invalid-extension-wrapper,.k-file-name-size-wrapper,.k-multiple-files-extension-wrapper,.k-multiple-files-group-wrapper,.k-multiple-files-invalid-extension-wrapper{display:block}.k-file-extension-wrapper,.k-file-invalid-extension-wrapper,.k-multiple-files-extension-wrapper,.k-multiple-files-invalid-extension-wrapper{position:relative;width:24px;height:34px;border-width:2px;border-style:solid;vertical-align:top;font-size:.57em;text-transform:uppercase}.k-file-invalid-extension-wrapper,.k-multiple-files-invalid-extension-wrapper{font-size:1.2em}.k-multiple-files-extension-wrapper,.k-multiple-files-invalid-extension-wrapper{margin-top:4px}.k-file-group-wrapper .k-file-group,.k-file-invalid-group-wrapper .k-file-group,.k-multiple-files-group-wrapper .k-file-group,.k-multiple-files-invalid-group-wrapper .k-file-group{font-size:32px}.k-file-group-wrapper .k-file-state,.k-file-invalid-group-wrapper .k-file-state,.k-multiple-files-group-wrapper .k-file-state,.k-multiple-files-invalid-group-wrapper .k-file-state{position:absolute}.k-multiple-files-group-wrapper,.k-multiple-files-invalid-group-wrapper{vertical-align:top}.k-file-state{visibility:hidden}.k-file-single>.k-file-name-size-wrapper,.k-file>.k-file-name-size-wrapper,.k-multiple-files-wrapper{overflow:hidden;-ms-flex:1 0 0px;flex:1 0 0;margin-left:1em}.k-multiple-files-wrapper .k-file-name-size-wrapper{margin-bottom:1em}.k-file-name-size-wrapper{vertical-align:middle}.k-file-extension-wrapper:before,.k-file-invalid-extension-wrapper:before,.k-multiple-files-extension-wrapper:after,.k-multiple-files-extension-wrapper:before,.k-multiple-files-invalid-extension-wrapper:after,.k-multiple-files-invalid-extension-wrapper:before{position:absolute;content:"";display:inline-block;border-style:solid}.k-file-extension-wrapper:before,.k-file-invalid-extension-wrapper:before,.k-multiple-files-extension-wrapper:before,.k-multiple-files-invalid-extension-wrapper:before{top:-1px;right:-1px;width:0;height:0;border-width:6px;margin-top:-1px;margin-right:-1px}.k-multiple-files-extension-wrapper:after,.k-multiple-files-invalid-extension-wrapper:after{top:-6px;left:-6px;width:15px;height:35px;border-width:2px 0 0 2px}.k-file-extension,.k-file-invalid-icon{position:absolute;bottom:0;line-height:normal}.k-file-extension{margin-left:.4em;margin-bottom:.3em;overflow:hidden;text-overflow:ellipsis;max-width:100%}.k-file-invalid-icon{margin-left:5px}.k-file-information,.k-file-name,.k-file-size,.k-file-validation-message{display:block}.k-file-name{position:relative;max-width:100%;vertical-align:middle;line-height:1.2em;overflow:hidden;text-overflow:ellipsis}.k-file-information,.k-file-size,.k-file-validation-message{font-size:.78em;line-height:1.5em}.k-file-information,.k-file-validation-message{line-height:1.5em}.k-file-size{line-height:1.2em}.k-upload-files .k-upload-status{line-height:1;opacity:.65}.k-button.k-upload-action.k-state-active:hover,.k-button.k-upload-action:active:hover,.k-button.k-upload-action:hover,.k-upload-action{color:inherit;background:0 0;border:0}.k-upload-action{opacity:.6}.k-upload-action:hover{opacity:1}.k-upload-action .k-icon{vertical-align:top}.k-file .k-upload-status .k-button,.k-file .k-upload-status>.k-icon{vertical-align:middle;border-radius:50%}.k-dropzone{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center}.k-dropzone .k-upload-status{position:static;margin-left:10px}.k-upload-pct{margin-right:.75em}.k-ie9 .k-upload-status-total{top:1.5em}.k-ie9 .k-upload-status-total>.k-icon{margin-top:-3px}.k-upload-action{line-height:normal}.k-upload .k-progress{position:absolute;bottom:0;left:0;height:2px}.k-upload .k-progressbar{height:2px;position:absolute;bottom:.32em;width:calc(100% - 2em)}.k-upload .k-progressbar .k-progress{width:100%;max-width:100%;height:100%}.k-file-invalid>.k-progress{width:100%}.k-rtl .k-file-extension-wrapper{margin-left:14px}.k-upload .k-action-buttons{border-width:1px 0 0 0;border-style:solid}.k-no-flexbox .k-upload .k-action-buttons .k-button{border-width:0}
.k-upload {
    border-color: rgba(0, 0, 0, 0.08);
    color: #424242;
    background-color: #ffffff;
}

.k-upload .k-dropzone {
    border-color: rgba(0, 0, 0, 0.08);
    color: #424242;
    background-color: #fafafa;
}

.k-upload .k-dropzone.k-dropzone-hover, .k-upload .k-dropzone.k-dropzone-hovered {
    background-color: #f0f0f0;
}

.k-upload .k-dropzone .k-dropzone-hint {
    color: #666666;
}

.k-upload .k-upload-files,
.k-upload .k-file {
    border-color: rgba(0, 0, 0, 0.08);
}

.k-upload .k-file.k-state-focused {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.13);
}

.k-upload .k-file .k-upload-action.k-state-focused {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.13);
}

.k-upload .k-upload-status {
    color: #666666;
}

.k-upload .k-file-progress .k-file-name {
    color: #424242;
}

.k-upload .k-file-progress .k-progress {
    background-color: #0058e9;
}

.k-upload .k-file-success .k-progress {
    background-color: #37b400;
}

.k-upload .k-file-error .k-file-validation-message,
.k-upload .k-file-invalid .k-file-validation-message {
    color: #f31700;
}

.k-upload .k-file-error .k-progress,
.k-upload .k-file-invalid .k-progress {
    background-color: #f31700;
}

.k-upload .k-file-extension-wrapper,
.k-upload .k-multiple-files-extension-wrapper,
.k-upload .k-file-group-wrapper,
.k-upload .k-multiple-files-group-wrapper,
.k-upload .k-file-invalid-extension-wrapper,
.k-upload .k-multiple-files-invalid-extension-wrapper,
.k-upload .k-file-invalid-group-wrapper,
.k-upload .k-multiple-files-invalid-group-wrapper {
    color: #666666;
    border-color: #666666;
}

.k-upload .k-file-invalid-extension-wrapper,
.k-upload .k-multiple-files-invalid-extension-wrapper,
.k-upload .k-file-error .k-file-extension-wrapper,
.k-upload .k-file-invalid-group-wrapper,
.k-upload .k-multiple-files-invalid-group-wrapper,
.k-upload .k-file-error .k-file-group-wrapper {
    border-color: #666666;
}

.k-upload .k-file-extension-wrapper::before,
.k-upload .k-multiple-files-extension-wrapper::before,
.k-upload .k-file-invalid-extension-wrapper::before,
.k-upload .k-multiple-files-invalid-extension-wrapper::before,
.k-upload .k-file-error .k-file-extension-wrapper::before {
    background-color: #ffffff;
    border-color: transparent transparent #666666 #666666;
}

.k-upload .k-multiple-files-extension-wrapper::after,
.k-upload .k-multiple-files-invalid-extension-wrapper::after {
    border-top-color: #666666;
    border-left-color: #666666;
}

.k-upload .k-file-size,
.k-upload .k-file-validation-message,
.k-upload .k-file-information {
    color: #666666;
}

.k-upload .k-multiple-files-wrapper .k-file-information {
    color: #424242;
}

.k-upload.k-state-invalid, .k-upload.ng-invalid.ng-touched, .k-upload.ng-invalid.ng-dirty {
    border-color: rgba(243, 23, 0, 0.5);
}




.upload-wrap {
    display: flex;
    align-items: flex-start;
    .btn {
        white-space: nowrap;
    }
}
.upload-group {
    display: flex;
    flex-direction: column;
}
.upload-set {
    display: flex;
    align-items: center;
}
.upload-guide {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 100%;
	.list {
		color: $gray-7;
		font-size: 13px;
		letter-spacing: -0.65px;
	}
}
.upload-title {
	color: $gray-5;
	font-size: 14px;
	letter-spacing: -0.7px;
}
.upload-box {
	padding: 20px 30px;
	background-color: $gray-f5;
	border: 1px solid $gray-ef;
	
}
.upload {
    display: flex;
	width: 100%;
    padding-right: 73px;
	&.type2 {
		padding-right: 97px;
		.k-upload {
			.k-upload-button {
				max-width: 89px;
				min-width: 89px;
				right: -97px;
			}
		}
	}
	&.md {
		max-width: 330px;
		min-width: 330px;
		// .k-upload {
		// }
	}
	&.lg {
		max-width: 400px;
		min-width: 400px;
		// .k-upload {
		// }
	}
	// &.lg {
	// 	.k-upload {
	// 		max-width: 329px;
    //     	min-width: 329px;
	// 	}
	// }
    +  .btn {
        margin-left: 8px;
    } 
    .k-upload {
        position: relative;
        display: flex;
        
        width: 100%;
        height: 28px;
        border: none;
        .k-dropzone {
            width: 100%;
            padding: 0;
            order: 2;
            background-color: $white;
            border: 1px solid $gray-c;
            border-radius: 3px;
            .k-dropzone-hint {
                order: 1;
				display: none;
            }
            .k-upload-status {
                display: none;
            }
        }
        .k-upload-files {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $white;
            border: 1px solid $gray-c;
            border-radius: 3px;
            overflow: hidden;
            .k-file {
                align-items: center;
                height: 100%;
                padding: 0;
                z-index: 1;
                .k-file-size {
                    display: none;
                }
                .k-file-name-size-wrapper{
                    display: flex;
                    align-items: center;
                    margin-left: 14px;
                    .k-file-name{
                        font-size: 14px;
                        color: $gray-5;
                        font-weight: 400;
                    }
    
                }
				.k-upload-action,
				.k-upload-action:hover,
				.k-upload-action:focus {
					min-width: 28px;
					border-radius: 0;
					background: #fff;
				}
                .k-file-validation-message {
                    display: none;
                }
                .k-upload-status > :first-child {
                    display: none !important;
                }
                .k-file-group-wrapper {
                    display: none;
                }
            }
        }
        .k-upload-button {
            position: absolute;
            max-width: 65px;
            min-width: 65px;
			margin-right: 0;
            right: -73px;
            order: 2;
			background-color: $white;
            border: 1px solid $gray-c;
			color: $gray-2;
            span {
                margin: 0;
                font-size: 14px;
                line-height: 22px;
            }
            > input {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
        .k-progressbar { //프로그레스
            display: none;
        } 
    }
    
}
.upload-img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 114px;
    height: 114px;
    margin-right: 20px;
    // background-color: $mainBg;
    img {
        max-width: 100%;
    }
}
// .bar {
//     display: block;
//     width: 1px;
//     height: 20px;
//     margin: 0 10px;
//     // background: $grayBg;
// }
.upload-guide {
    margin: 10px 0 0 0;
    .list {
        font-size: 12px;
        line-height: 20px;
        // color: $disabled;
        font-weight: 400;
    }
}

.t-file {
	position: relative;
	background-color: $gray-ef;
	border-radius: 3px;
	+ .t-file {
		margin-top: 8px;
	}
	.file-title {
		@include font-size-sm; 
		position: relative;
		display: inline-block;
		min-width: 160px;
		padding: 0 10px;
		color: $gray-2;
		font-weight: 500;
		text-align: center;
		&::after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 50%; 
			margin-top: -7px;
			width: 1px; 
			height: 14px;
			background-color: $gray-d;
		}
	}
	.file-desc {
		padding: 0 10px;
	}
	.text-link {
		@include font-size-sm;
		margin-right: 10px;
		color: $main;
		text-decoration: underline;
	}
	.file-date {
		color: $gray-9;
		font-size: 13px;
		letter-spacing: -0.65px;
		font-weight: 400;
	}
	.k-button.close {
		position: absolute;
		top: 50%;
		right: 10px;
		width: 20px; 
		height: 20px;
		margin-top: -10px;
	}
}

.mobile-group {
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	// padding: 20px 0;
	> * + * {
		max-width: calc(100% - 240px)
	}
}

.mobile-wrap {
	display: flex;
	flex-direction: column;
	min-width: 240px;
	margin-right: 10px;
	padding: 30px 20px 20px;
	height: 464px;
	background-image: url($imgPath+'/common/img_phone.svg');
	.mobile-head {
		
	}
	.mobile-body {
		display: flex;
		flex-direction: column;
		height: 100%;
		.contents {
			flex: 1;
			&.textarea-byte-set {
				position: relative;
				.k-counter-container { 
					
					color: $gray-9;
					font-size: 12px;
					line-height: 17px;
					letter-spacing: -0.6px;
					text-align: right;
				}
				.k-counter-value {
					color: $bc-blue;
					font-weight: 500;
				}
			}
			.h-input {
				@include font-size-menu;
				margin-top: 6px;
				padding: 0 0 10px;
				border: none;
				border-radius: 0;
				border-bottom: 1px solid $gray-7;
				font-weight: 500;
				&::placeholder {
					@include font-size-menu;
					font-weight: 500 !important;
				}
			}
			.k-textarea .k-input {
				height: calc(100% - 52px);
				padding: 8px 0;
				border: none;
			}
		}
		.number-box {
			padding: 6px 10px;
			background-color: $gray-f5;
		}
		.btn-box.bottom {
			margin-top: 8px;
			.k-button {
				flex: 1;
			}
		}

	}
	.mobile-foot {
		padding-top: 10px;
	}
	.reserve-title {
		@include font-size-menu;
		margin-bottom: 3px;
		line-height: 21px;
		font-weight: 500;
	}
	// .reserve-list {
	// 	display: flex;
	// 	flex-wrap: wrap;
	// 	margin-bottom: -3px;
	// 	.k-button {
	// 		margin: 3px 0;
	// 		padding: 0 5px;
	// 		height: 17px;
	// 		border: 1px solid $gray-c;
	// 		border-radius: 10px;
	// 		font-size: 12px;
	// 		line-height: 17px;
	// 		letter-spacing: -0.6px;
	// 		color: $gray-7;
	// 		+ .k-button {
	// 			margin-left: 6px;
	// 		}
	// 	}
	// }
}

.tip-box {
	display: flex;
	margin-top: 20px;
	padding: 20px 0;
	border-top: 1px solid $gray-e4;
	border-bottom: 1px solid $gray-e4;
	.tip-title {
		@include font-size-sm;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 252px;
		color: $main;
		font-weight: 500;
		.h-ico {
			margin-right: 6px;
		}
	}
	.tip-desc {
		.list {
			@include font-size-sm;
			color: $gray-2;
		}
	}
}



// slick slide
 .slick-arrow {
	z-index: 10;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	text-indent: -1000px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.3);
	&.slick-prev {
		left: 0;
		transform: rotate(-180deg);
		@include iconSvg($width: 60px, $height: 60px, $name: 'icon_img_left', $size: contain );
		background-size: 40px 40px;
		background-position: center;
		background-repeat: no-repeat;
	}
	&.slick-next {
		right: 0;
		@include iconSvg($width: 60px, $height: 60px, $name: 'icon_img_right', $size: contain );
		background-size: 40px 40px;
		background-position: center;
		background-repeat: no-repeat
	}
 }