
/*
* ------------------------------
* List 
* ------------------------------
*/
.list-wrap {
	padding: 20px;
	background: $gray-ef;
	border-top: 1px solid $gray-2;
}
.list-set {
    display: flex;
    + .list-set {
        margin-top: 10px;
    }
    &.answer {
        .list-title {
            color: $gray-5;
            margin-right: 10px;
        }
        .list-box {
            &::before {
                left: -6px;
                width: 0px;
                height: 0px;
                border-top: 4px solid transparent;
                border-right: 6px solid $white;
                border-left: 4px solid none;
                border-bottom: 4px solid transparent;
            }
        }
        .badge.count {
            background-color: $gray-5;
            color: $white;
        }
    }
    &.receipt {
        .list-title {
            color: $main;
            order: 2;
        }
        .list-box {
            margin-right: 10px;
            order: 1;
            &::before {
                right: -6px;
                width: 0px;
                height: 0px;
                border-top: 4px solid transparent;
                border-left: 6px solid $white;
                border-right: 4px solid none;
                border-bottom: 4px solid transparent;
            }
        }
        .badge.count {
            background-color: $main;
            color: $white;
        }
    }
    .list-title {
        @include font-size-sm;
        color: $gray-7;
        font-weight: 500;
       
    }
    .list-box {
        position: relative;
        flex: 1;
        &::before {
            content: '';
            position: absolute;
            top: 10px;
        }
    }
}
.list-box {
	position: relative;
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
    &.gray-box {
        padding: 20px;
        background: $gray-f5;
        border: 1px solid $gray-e4;
        .label {
			color: $gray-7;
		}
        .desc {
			color: $gray-2;
		}
    }
    &.half {
        > * {
            width: 50%;
        }
    }
    .form-label {
        color: $gray-5;
    }
    &.has-bar {
        padding: 26px 20px;
        > * { 
            position: relative;
            justify-content: center;
            + *::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                width: 1px;
                height: 21px;
                margin-top: -10px;
                background: $gray-d;
            }
        }
        .label, .form-label {
            @include font-size-menu;
            color: $gray-2;
            font-weight: 500;
        }
        .desc {
            @include font-size-menu;
        }
        .unit {
            margin-left: 2px;
            color: $gray-7;
        }
    }
	&.history {
		flex-direction: column;
		padding: 16px 20px;
		background: $white;
        border-radius: 3px;
		.label {
			color: $gray-7;
		}
		.desc {
			color: $gray-2;
		}
		.badge {
			position: absolute;
			top: 20px;
			right: 20px;
			height: 20px;
		}
		+ .list-box {
			margin-top: 8px;
		}
        &.row {
            flex-direction: row;
            .desc {
                flex-direction: column;
            }
            .label.has-bar::after {
                top: 6px;
                margin-top: 0;
            }
            .list+.list {
                margin-left: 30px;
            }
        }
	}
    .list { display: flex; }
    .label, .form-label {
        @include font-size-sm;
        position: relative;
        display: inline-flex;
        justify-content: center;
		margin-right: 8px;
		padding-right: 8px;
        font-weight: 500;
        &.has-bar::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
			height: 14px;
			margin-top: -7px;
			background: $gray-d;
        }
    }
    .desc {
        @include font-size-sm;
    }
}