
/*
* ------------------------------
* dropdown
* ------------------------------
*/
.k-dropdown {
	height: 30px;
	&.sm {
		min-width: 106px !important;
		max-width: 106px !important;
	}
	&.md {
		min-width: 180px !important;
		max-width: 180px !important;
	}
	.k-dropdown-wrap {
		background: $white;
		border: 1px solid $gray-c;
		border-radius: 3px;
		color: $gray-2;
		
		.k-input {
			@include bp-font-size-sm;
		}
		
	}
}

/*
* ------------------------------
* μΈν’‹ (date range)
* ------------------------------
*/
.k-dateinput {
	.k-textbox {
		@include bp-font-size-sm;
	
	}
}

/*
* ------------------------------
* Grid
* ------------------------------
*/



/*
* ------------------------------
* breadcrumb
* ------------------------------
*/


/*
* ------------------------------
* editor
* ------------------------------
*/


/*
* ------------------------------
* textarea
* ------------------------------
*/
