
/*
* ------------------------------
* dropdown
* ------------------------------
*/
.k-dropdown {
	// min-width: 110px !important;
	height: 26px;
	&.xs {
		max-width: 70px;
        min-width: 70px;
	}
	&.xs2 {
		max-width: 84px;
        min-width: 84px;
	}
	&.sm { 
		max-width: 106px;
        min-width: 106px;
	}
	&.xsm {
		// max-width: 120px;
        // min-width: 120px;
	}
	&.md {
        max-width: 120px;
        min-width: 120px;
	}
	&.xmd {
        max-width: 140px;
        min-width: 140px;
	}
	&.lg {
        // max-width: 220px;
        // min-width: 220px;
	}
	.k-dropdown-wrap {
		&.k-state-disabled,
		&.k-state-disabled:hover {
			background-color: $gray-f5;
			color: $gray-a;
			.k-i-arrow-60-down:before {
				background-image: url($imgPathIcon+'/icon_arrow_down_diabled.svg');
			}
		}
		&.k-state-hover,
		&:hover {
			background-color: $white;
		}
		&.k-state-focused {
			border: 1px solid $gray-2;
			color: $gray-2;
		}
		.k-input {
			@include bc-font-size-xsm;
		}
		.k-select {
			height: 26px;
		}
		.k-i-arrow-60-down:before {
			width: 14px;
			height: 14px;
		}
		&.k-state-active {
			.k-i-arrow-60-down:before {
				// transform: rotate(180deg);
				background: url($imgPathIcon+'/icon_arrow_up.svg') no-repeat center / 15px 15px;
			}
		}
	}
}
/*
* ------------------------------
* 인풋 (date range)
* ------------------------------
*/
.k-dateinput {
	height: 26px;
	.k-textbox {
		@include bc-font-size-sm;
	
	}
}

/*
* ------------------------------
* Grid
* ------------------------------
*/
//껍데기

//thead
.k-grid .k-grouping-header,
.k-grid-header {
	// background: $gray-e;
	background: $bc-table-th-bg;
	th.k-header { 
		@include bc-font-size-xsm;
		height: 30px;
		padding: 5px 9px;
		line-height: 19px;
		color: $bc-table-th;
		text-align: left;
	}
	
} 

.k-grid-content {
	// border-bottom: 1px solid $gray-c;
}
.k-grid-norecords {
	@include bc-font-size-xsm;
	padding: 90px 0;
	color: $gray-5;
}
//body
.k-grid {
	td {
		@include bc-font-size-xsm;
		height: 30px;
		padding: 2px 9px;
	}
}


/*
* ------------------------------
* accordion
* ------------------------------
*/
.k-expander {
	&.line {

	}
	.k-expander-header {
		position: relative;
		margin-top: 12px;
		
	}
	.k-expander-title {
		@include bc-font-size-xsm;
		min-height: 20px;
		padding-bottom: 6px;
		border-bottom: 1px solid $bc-table-th;
		font-weight: 500;
		line-height: 20px;
	}
	.k-i-arrow-chevron-down,
	.k-i-arrow-chevron-up {
		position: absolute;
		right: 0;
		top: 50%; 
		margin-top: -7px;
	}
	.line.k-expander-content  {
		padding: 7px 0;
		border-bottom: 1px solid $gray-e4;
		.list-set {
			.title {
				@include bc-font-size-xsm;
				min-width: 103px;
				margin: 6px 0;
			}
			.list {
				width: 100%;
				.form-group {
					margin: 3px 0;
					.form-label.md {
						min-width: 63px;
					} 
					.form-set {
						width: 100%;
					}
				}
			}
		}
	}

}

/*
* ------------------------------
* breadcrumb
* ------------------------------
*/
.k-breadcrumb {
	.k-breadcrumb-item {
		@include bc-font-size-sm;
	}
}
/*
* ------------------------------
* editor
* ------------------------------
*/

.send-form-set {
	
	.label { 
		@include bc-font-size-sm;
	}
	
	
}

/*
* ------------------------------
* textarea
* ------------------------------
*/
.k-textarea {
	@include bc-font-size-xsm;
	&.sm {
		.k-input {
			height: 60px;
		}
	}
	&.md {
		.k-input {
			height: 100px;
		}
	}
	.k-input {
		@include bc-font-size-xsm;
	}
	::placeholder {
		@include bc-font-size-xsm;
	}
}

/*
* ------------------------------
* datepicker
* ------------------------------
*/
.k-datepicker {
    height: 26px;
    &.sm {
		max-width: 103px; 
		min-width: 103px;
	}
	.k-select { 
		width: 22px;
	}
}

.k-calendar {
    .k-header {
		@include bc-font-size-xsm;
    }
}
/*
* ------------------------------
* tooltip
* ------------------------------
*/
.k-tooltip {
	@include bc-font-size-xsm;
	margin: 10px 0;
	padding: 10px;
	background: $white;
	border: 1px solid $bc-table-th;
	border-radius: 3px;
	color: $gray-2;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	.k-tooltip-button {
		display: none;
	}
	&::before {
		display: block;
		content: '';
		position: absolute;
		top: -10px;
		left: 7px;
		width: 12px; 
		height: 10px;
		background-image: url($imgPathIcon+'/img_tooltip.svg');
	}
}

/*
* ------------------------------
* tab
* ------------------------------
*/
.k-tabstrip-items {
	border-bottom: none;
	.k-item {
		// @include bc-font-size-menu;
		@include bc-font-size-default;
		height: 100%;
		line-height: 21px;
		margin-right: 20px;
	}
	.k-item.k-state-active, 
	.k-item.k-state-selected {
		border-bottom: 2px solid $bc-blue;
		color: $bc-blue;
	}
}

.tab-control.border {
	.k-tabstrip-items {
		border-bottom: 1px solid $gray-e4;
		.k-item.k-state-active, 
		.k-item.k-state-selected {
			border-top: 1px solid $bc-blue;
			border-bottom-color: transparent;
			color: $bc-blue;
		}
		.k-item {
			position: relative;
			@include bc-font-size-default;
			
		}
	}
}
/*
* ------------------------------
* grid
* ------------------------------
*/

.k-grid .k-edit-cell .k-textbox {
	height: 22px;
}
.k-grid tbody tr td {
	position: relative;
}
.k-grid tbody tr:hover td:first-child::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background-color: $bc-blue;
}


/*
* ------------------------------
* tab
* ------------------------------
*/

.k-tabstrip-content.k-state-active, 
.k-tabstrip>.k-content.k-state-active {
	display: flex !important;
}