
/*
* ------------------------------
* dropdown
* ------------------------------
*/
.k-dropdown {
	min-width: 110px !important;
	height: 28px;
	.k-dropdown-wrap {
		&.k-state-disabled,
		&.k-state-disabled:hover {
			background-color: $gray-f5;
			color: $gray-a;
			.k-i-arrow-60-down:before {
				background-image: url($imgPathIcon+'/icon_arrow_down_diabled.svg');
			}
		}
		&.k-state-hover,
		&:hover {
			background-color: $white;
		}
		&.k-state-focused {
			border: 1px solid $gray-2;
			color: $gray-2;
		}
		.k-input {
			@include bc-font-size-sm;
			text-indent: 10px;
		}
	}
}
/*
* ------------------------------
* 인풋 (date range)
* ------------------------------
*/
.k-dateinput {

	.k-textbox {
		@include bc-font-size-sm;
	
	}
}

/*
* ------------------------------
* Grid
* ------------------------------
*/
//껍데기

//thead
.k-grid .k-grouping-header,
.k-grid-header {
	// background: $gray-e;
	th.k-header {
		@include bc-font-size-sm;
		
	}
	
}

//body
.k-grid {
	td {
		@include bc-font-size-sm;
	}
}

/*
* ------------------------------
* breadcrumb
* ------------------------------
*/
.k-breadcrumb {
	.k-breadcrumb-item {
		@include bc-font-size-sm;
	}
}
/*
* ------------------------------
* editor
* ------------------------------
*/

.send-form-set {
	
	.label { 
		@include bc-font-size-sm;
	}
	
	
}

/*
* ------------------------------
* textarea
* ------------------------------
*/
.k-textarea {
	@include bc-font-size-sm;
	
	::placeholder {
		@include bc-font-size-sm;
	}
}
