.k-checkbox-label,
.k-radio-label {
	position: initial;
	padding: 0;
}
.k-checkbox-label:before {
	border: none;
}
/*
* ------------------------------
* dropdown
* ------------------------------
*/
.k-dropdown {
	white-space: nowrap;
	display: inline-flex;
	width: 110px !important;
	.k-dropdown-wrap {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		width: 100%;
		height: 28px;
		padding: 0;
		background: $white;
		border: 1px solid $gray-c;
		border-radius: 3px;
		color: $gray-5;
		box-sizing: border-box;
		&.k-state-disabled,
		&.k-state-disabled:hover {
			background-color: $gray-f5;
			color: $gray-a;
			.k-i-arrow-60-down:before {
				background-image: url("/resources/images/icon/icon_arrow_down_diabled.svg");
			}
		}
		&.k-state-hover,
		&:hover {
			background-color: $white;
		}
		&.k-state-focused {
			border: 1px solid $gray-2;
			color: $gray-2;
		}
		.k-input {
			@include font-size-sm;
			text-indent: 10px;
		}
		.k-select {
			vertical-align: middle;
			text-align: center;
			width: 28px;
			height: 100%;
			.k-icon {
				position: relative;
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		.k-i-arrow-60-down:before {
			content: "";
			position: absolute;
			top: 6px;
			right: 10px;
			width: 15px;
			height: 15px;
			background: url("/resources/images/icon/icon_arrow_down.svg") no-repeat center /15px 15px;
			transition: all 0.3s ease;
		}
		&.k-state-active {
			.k-i-arrow-60-down:before {
				transform: rotate(180deg);
			}
		}
	}
}
.k-animation-container {
	width: 150px !important;
	margin: 3px 0;
}
.k-popup.k-list-container {
	width: 100% !important;
	padding: 8px 5px;
	border: none;
	background-color: $white;
	border: 1px solid $gray-2;
	border-radius: 3px;
	box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.15);
	.k-list .k-item { //리스트
		min-height: 28px;
		height: 28px;
		padding: 0 5px;
		border-radius: 0;
		line-height: 1;
		font-size: 14px;
		line-height: 28px;
		letter-spacing: -0.7px;
		color: $gray-7; 
		font-weight: 400;
		box-sizing: border-box;
		&.k-state-hover,
		&.k-state-hover:hover {
			background-color: $gray-f5;
			color: $gray-2;
		}
	}
}
/*
* ------------------------------
* 인풋 (date range)
* ------------------------------
*/
.k-dateinput {
	display: flex;
	width: 110px;
	&.k-state-disabled {
		.k-textbox {
			background-color: $gray-f5;
			color: $gray-a;
		}
	}
	.k-textbox {
		@include font-size-sm;
		display: flex;
		height: 28px;
		padding: 0 10px;
		border: 1px solid $gray-c;
		border-radius: 3px;
		color: $gray-5;
		box-sizing: border-box;
		overflow: hidden; 
		&:focus {
			border: 1px solid $gray-2;
			color: $gray-2;
		}
	}
}

/*
* ------------------------------
* Grid
* ------------------------------
*/
//껍데기
.k-grid {
	border: none;
	border-top: 1px solid $gray-2;
	border-bottom: 1px solid $gray-a;
}
  
//thead
.k-grid .k-grouping-header,
.k-grid-header {
	background: $gray-e;
	.k-grid-header-wrap {
		
	}
	th.k-header {
		@include font-size-sm;
		position: relative;
		height: 36px;
		margin: 0;
		padding: 0;
		border-left: 1px solid $gray-e4;
		line-height: 36px;
		.k-link {
			display: block;
			margin: 0;
			padding: 0 18px 0 10px;
			line-height: unset;
			&::before {
				position: absolute;
				top: 50%;
				right: 0px;
				margin-top: -14px;
				display: block;
				content: "";
				width: 28px;
				height: 28px;
				background-size: 8px 15px;
				background-repeat: no-repeat;
				background-position: center center;
				background-image: url('./../images/icon/btn_filter_default.svg')
			}
		}
	}
	// 헤더 필터 아이콘
	.k-icon.k-i-sort-asc-sm,
	.k-icon.k-i-sort-desc-sm {
		position: absolute;
		top: 50%;
		right: 0px;
		margin-top: -14px;
		&:before {
			display: block;
			content: "";
			width: 28px;
			height: 28px;
			background-size: 8px 15px;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	.k-i-sort-desc-sm:before {
		//아래로 화살표
		background-image: url('./../images/icon/btn_filter_down.svg');
	}
	.k-i-sort-asc-sm:before {
		//위로 화살표
		background-image: url('./../images/icon/btn_filter_up.svg');
	}
}

//body
.k-grid {
	tr {
		&:last-child td {
			border-left: 1px solid $gray-e4;
			&:first-child {
				border-left: 0;
			}
		}
		&:hover {
			background-color: $tableBG1;
		}
	}
	td {
		@include font-size-sm;
		height: 36px;
		padding: 0 10px;
		border-left: 1px solid $gray-e4;
		border-top: 1px solid $gray-e4;
		// border-width: 0 0 1px 1px;
		border-color: $gray-e4;
	}
}

.k-grid th input.k-checkbox {
	// thead 체크박스
}
.k-grid input.k-checkbox + label.k-checkbox-label .k-grid input.k-checkbox {
	//tbody 체크박스
}
