//************************************************************
//* Description of _variables.scss
//* @project : Hyosung B system
//* @category : SCSS
//* @date : 2021.07
//* @content : 기본값 설정
//* @author : bhlbest20@gmail.com
//************************************************************
// @charset "utf-8";

$fontFamily: "Roboto", "Noto Sans KR", sans-serif;
$imgPath: '../images_bc';
$imgPathIcon: '../images_bc/icon';
/*
* Regular font size
*/
$base-font-size: 16px;
// 메뉴사이즈
@mixin bc-font-size-menu {
    //1dpepth 메뉴
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.75px;
}
/*
* Text style
*/
// (디자인팀 변수와 같이 사용)

@mixin bc-font-size-xs {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.6px;
}
@mixin bc-font-size-xsm {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.65px;
}
@mixin bc-font-size-default {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.7px;
}
@mixin bc-font-size-sm {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.75px;
}
@mixin bc-font-size-md {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.85px;
}