//************************************************************
//* Description of _variables.scss
//* @project : Hyosung B system
//* @category : SCSS
//* @date : 2021.07
//* @content : 기본값 설정
//* @author : bhlbest20@gmail.com
//************************************************************
// @charset "utf-8";

$fontFamily: "Roboto", "Noto Sans KR", sans-serif;
$imgPath: '../images_bp';
$imgPathIcon: '../images_bp/icon';
/*
* Regular font size
*/
$base-font-size: 16px;

// 메뉴사이즈
@mixin bp-font-size-menu {
    //1dpepth 메뉴
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.75px;
}
/*
* Text style
*/
// (디자인팀 변수와 같이 사용)

@mixin bp-font-size-xs { 
    font-size: 13px;
    line-height: 26px;
    letter-spacing: -0.98px;
}

@mixin bp-font-size-sm {
    font-size: 14px;
    // line-height: 26px;
    line-height: 18px;
    letter-spacing: -1.05px;
}

@mixin bp-font-size-md { // 팝업 컨텐츠 타이틀
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -1.28px;
}
@mixin bp-font-size-lg { // 팝업 컨텐츠 타이틀
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -1.5px;
}
